@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Poppins:wght@500&display=swap");

@font-face {
	font-family: Gilroy-Regular;
	src: url(Gilroy-Regular.woff);
}
html, body {
	width: 100%;
	margin: 0;
}
* {
	box-sizing: border-box;
}
.criteria-section {
	min-width: 100%;
	margin: 0;
	padding: 8% 0;
	background: #F4F4F4;
}
@media (max-width: 768px) {
	.criteria-section-h1 {
		width: 100%;
		margin: 0;
		padding: 5%;
		text-align: center;
		font-size: 4vw;
		font-weight: 800;
		font-family: Gilroy-Regular, sans-serif;
		background-image: url(../assets/images/criteria-for-selection.png);
		color: white;
	}	
	.criteria-section ul {
		width: 70%;
		margin: 0 15%;
		padding-left: 4%;
		list-style-image: url('../assets/images/mobile-arrow.png');
	}
	.criteria-section .uls {
		width: 100%;
		margin: 0;
		padding-bottom: 2%;
	}
	.criteria-section li {
		padding-left: 6%;
		margin-bottom: 6.5%;
		font-size: 3.6vw;
		font-family: Gilroy-Regular, sans-serif;
	}
	.criteria-section .ul1 {
		width: 100%;
		margin: 0;
		padding: 0;
	}
	.criteria-section .ul2 {
		width: 100%;
		margin: 7% 0;
		padding: 0;
	}
	.criteria-section .section {
		background: white;
		width: 100%;
		padding-top: 2%;
	}
	.criteria-section .container {
		display: block;
		width: 70%;
		margin: 0 15%;
	}
	.criteria-section .arrow {
		display: none;
	}
	.criteria-section .cnt {
		display: block;
		width: 100%;
		height: 70px;
		margin: 8% 0;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
	}
	.criteria-section .content .scheme-image {
		transform: scale(.87);
		height: 70px;
		margin: 0;
	}
	.criteria-section .content .text {
		font-size: 3.6vw;
		height: 70px;
		width: auto;
		font-family: Gilroy-Regular, sans-serif;
		padding: 0 3%;
		line-height: 70px;
	}
	.criteria-section .arrow-flow {
		display: none;
	}
	.criteria-section .buttons {
		width: 100%;
		text-align: center;
		padding-top: 15%;
	}
	.criteria-section .btn1 {
		width: 58%;
		background-color: #ff0000;
		height: 60px;
		border: none;
		color: white;
		font-size: 3vw;
		opacity: .7;
		transition: 1s;
		border-radius: 5px;
	}
	.criteria-section .btn2 {
		width: 58%;
		border: none;
		background-color: #ffe032;
		height: 60px;
		font-size: 3vw;
		font-family: Gilroy-Regular, sans-serif;
		margin-top: 2%;
		color: white;
		opacity: .7;
		border-radius: 5px;
		transition: 1s;
	}
	.criteria-section button:hover {
		width: 60%;
		height: 62px;
		opacity: 1;
	}
}
@media (min-width: 769px) {
	.criteria-section {
		width: 100%;
		margin: 0;
		padding-bottom: 0;
	}
	.criteria-section-h1 {
		width: 100%;
		margin: 0;
		padding: 5%;
		text-align: center;
		font-size: 4vw;
		font-weight: 800;
		font-family: Gilroy-Regular, sans-serif;
		background-image: url(../assets/images/criteria-for-selection.png);
		color: white;
	}	
	.criteria-section .uls {
		width: 70%;
		display: flex;
		z-index: 1;
		background: #F4F4F4;
		margin: 0 15%;
	}
	.criteria-section .ul1 {
		width: 50%;
	}
	.criteria-section .ul2 {
		width: 50%;
	}
	.criteria-section li {
		font-family: Gilroy-Regular, sans-serif;
		font-size: 1.4vw;
		margin: 6% 0;
	}
	.criteria-section .section {
		display: block;
		width: 100%;
		margin: 0;
		background: white;
	}
	.criteria-section .container {
		width: 80%;
		margin: 8% 0 0 10%;
		display: flex;
		padding-top: 7%;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
	}
	.criteria-section .cnt {
		display: inline-block;
		text-align: center;
		width: 25%;
	}
	.criteria-section .scheme-image {
		text-align: center;
	}
	.criteria-section .content img {
		transform: scale(0.9);
	}
	.criteria-section .content .text {
		display: block;
		font-size: 1.55vw;
		margin: 0;
		font-family: Gilroy-Regular, sans-serif;
		padding: 0;
	}
	.criteria-section .arrow-flow {
		position: relative;
		width: 140%;
		margin-top: 100%;
		margin-left: -130%;
	}
	.criteria-section .buttons {
		text-align: center;
		width: 80%;
		margin: 7% 10%;
		padding-bottom: 8%;
	}
	.criteria-section .btn1 {
		width: 35%;
		background-color: #fa0c0c;
		height: 50px;
		margin-right: 5%;
		border-radius: 5px;
		font-size: 1.7vw;
		border: none;
		color: white;
	}
	.criteria-section .btn2 {
		width: 35%;
		border: none;
		font-size: 1.7vw;
		border-radius: 5px;
		background-color: #ffc916;
		height: 50px;
		color: white;
	}
}