@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 18px;
}

body,
html {
  overflow-x: hidden;
}

@font-face {
  font-family: Monad;
  src: url(../../fonts/Monad.otf);
}

@font-face {
  font-family: Gilroy-Bold;
  src: url(../../fonts/Gilroy-Regular.woff);
}

.u-padding-none {
  padding: 0;
}

.u-margin-none {
  margin: 0;
}

footer {
  position: fixed;
  bottom: 0;
}

.footer {
  background-color: #232732;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  text-align: left;
  font-weight: 100;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  padding: 25px 120px;
  margin-top: 80px;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-top .ecx {
  margin-right: auto;
}

.e {
  color: #1071f3;
}

.c {
  color: #f2a702;
}

.x {
  color: #e5193b;
}

.ecx {
  font-family: "Monoton", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 37px;
  cursor: default;
}

.footer-top .buttons {
  visibility: hidden;
}

.reg {
  background-color: #e5193b;
  color: #e5e5e5;
}

.login {
  background-color: #f2a702;
  color: #e5e5e5;
}

.footer-top .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: #e5e5e5;
  margin-left: 15px;
}

.footer .footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
}

.footer .footer-bottom .footer-icons {
  margin-right: auto;
}

.footer-bottom .footer-icons a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  margin-top: -10px;
}

.footer-bottom .footer-copyright p {
  display: inline-block;
  margin-left: 65px;
  color: #e5e5e5;
}

.footer-bottom .footer-copyright p span {
  margin-left: 10px;
}

@media (max-width: 1200px) {
  .footer {
    padding: 30px 30px;
  }
}

@media (max-width: 767px) {
  .footer {
    padding: 30px 10px 30px 10px;
    text-align: center;
  }
  .footer-top {
    display: initial;
    vertical-align: middle;
  }
  .ecx {
    margin-bottom: 9px;
  }
  .footer-top .buttons {
    visibility: initial;
    margin-bottom: 35px;
  }
  .footer-top .buttons a button {
    margin: 10px 0;
    text-transform: uppercase;
    width: 120px;
    font-size: 14px;
    padding: 10px 18px;
    border-radius: 2px;
    outline: none;
    border: none;
  }
  .footer-top .footer-links a {
    display: block;
    margin-bottom: 12px;
  }
  .footer .footer-bottom {
    display: initial;
  }
  .footer-bottom .footer-icons {
    margin-top: -10px;
    margin-bottom: 15px;
  }
  .footer-bottom .footer-icons a {
    display: inline-block;
  }
  .footer-bottom .footer-copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer-bottom .footer-copyright p {
    margin: auto;
  }
}
/*# sourceMappingURL=main.css.map */