@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Poppins:wght@500&display=swap");
@import url(c:\Users\user-pc\Desktop\cw\hackX\scss\layout\about.css);
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 18px;
}

body,
html {
  overflow-x: hidden;
}

@font-face {
  font-family: Monad;
  src: url(../../fonts/Monad.otf);
}

@font-face {
  font-family: Gilroy-Bold;
  src: url(../../fonts/Gilroy-Regular.woff);
}

.u-padding-none {
  padding: 0;
}

.u-margin-none {
  margin: 0;
}

footer {
  bottom: 0;
}
html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

body {
  background: none;
}

.login-one {
  padding: 30px;
  margin-top: -30px;
}

.login-welcome {
  font-size: 25px;
  font-family: "Gilroy-Medium";
}

.register {
  background-color: #e5193b;
  color: #e5e5e5;
}

.login {
  background-color: #f2a702;
  color: #e5e5e5;
}

.footer-top .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: #cccccc;
  margin-left: 15px;
.login-text {
  font-family: "Gilroy-Medium";
  margin-bottom: 20%;
}

.page {
  padding-right: 8px;
}

label[for=mail],
label[for=pword] {
  font-family: "Gilroy-Medium";
}

::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-family: "Gilroy-Regular";
}

:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-family: "Gilroy-Regular";
}

::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-family: "Gilroy-Regular";
}

::placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-family: "Gilroy-Regular";
}

.fmail,
.fpword {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
}

.fmail {
  padding-right: 3px;
}

i {
  color: rgba(0, 0, 0, 0.3);
  margin-top: 13px;
  margin-left: -25px;
}

input[type=text],
input[type=password] {
  color: none;
  background: rgba(196, 196, 196, 0.4);
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 15px;
  width: 100%;
  margin-bottom: 4%;
  margin-left: -10px;
}

.footer-bottom .footer-copyright p {
  display: inline-block;
  margin-left: 65px;
  color: #a5a5a5;
.log {
  color: white;
  background: #E5193B;
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 10px;
  width: 100%;
  margin-bottom: 4%;
  margin-top: 8%;
  font-family: "Gilroy-Medium";
}

.log:active {
  color: #E5193B;
  background: none;
}

.arrow {
  padding-left: 20px;
}

.sign {
  color: #E5193B;
  background: pink;
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 10px;
  width: 100%;
  margin-bottom: 10%;
  font-family: "Gilroy-Medium";
}

.sign:active {
  color: pink;
  background: #E5193B;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  font-family: "Gilroy-Regular";
  -webkit-user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0px;
  width: 0px;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #E5E5E5;
  border-radius: 5px;
}

.container input:checked ~ .checkmark {
  background-color: #E5193B;
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

@media (max-width: 300px) {
  body {
    width: 100%;
  }
  main {
    width: 100%;
  }
  nav {
    width: 100%;
  }
  .mini-nav {
    width: 90%;
    margin: 8% 5%;
    display: block;
  }
  .mobile-nav,
  .desktop-nav {
    display: none;
  }
  /* ECX */
  .e {
    color: #1071f3;
  }
  .c {
    color: #e5193b;
  }
  .x {
    color: #f2a702;
  }
  .ecx {
    display: inline;
    font-family: "Monoton", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 10vw;
    vertical-align: middle;
    line-height: 37px;
  }
  .dd-content {
    padding: 2% 0 2% 0;
    position: absolute;
    margin-top: 12%;
    width: 70%;
    margin-left: -60%;
    background: white;
    height: 0px;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: 1.5s;
    transition: 1.5s;
  }
  .dd:hover > .dd-content {
    height: 180px;
    opacity: 1;
    -webkit-box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.3);
            box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.3);
  }
  .dd-content > ul > li > a {
    margin-bottom: 4%;
  }
  .dd-content > a {
    display: block;
    padding: 5px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 5vw;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
  }
  .image-1 img,
  .image-2 img {
    display: none;
  }
  .right {
    float: right;
  }
  .right {
    display: inline-block;
    margin: 4%;
  }
  .menu {
    float: right;
    margin: 2%;
    width: 100%;
  }
  .reg {
    float: left;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    border: none;
    background: red;
    color: white;
    vertical-align: middle;
    margin-bottom: 3%;
  }
  .log {
    margin-top: 3%;
    width: 100%;
    color: red;
    border: 1.5px solid red;
    vertical-align: middle;
  }
  .norm {
    padding: 6px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.15vw;
    color: black;
    margin-bottom: 1%;
    line-height: 21px;
    color: #262a35;
  }
  a:hover {
    background: rgba(220, 0, 0, 0.2);
    color: red;
  }
  .image-1,
  .image-2,
  .location {
    display: none;
  }
  .call-to-action {
    width: 80%;
    padding: 6% 5% 5% 7%;
    float: left;
  }
  .call-to-action h1 {
    width: 100%;
    text-align: left;
    font-family: Monad, san-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12.5vw;
    color: #000000;
  }
  .lte {
    margin-top: 2%;
    padding-left: 2%;
    font-size: 4.2vw;
    text-align: left;
    font-family: Poppins, serif;
    font-weight: 500;
    color: #000000;
    padding-bottom: 3%;
  }
  .quote {
    text-align: left;
    font-family: Poppins, serif;
    font-weight: 500;
    font-size: 5vw;
    color: #f2a702;
  }
  .learn {
    width: 60%;
    height: 38px;
    margin-top: 15%;
    margin-bottom: 0;
    margin-right: 4%;
    display: inline block;
    font-family: Monad, sans-serif;
    font-size: 5vw;
    color: white;
    background: #262a35;
    border: none;
    border-radius: 3px;
    margin-bottom: 15%;
    opacity: 0.8;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .learn:hover {
    width: 62%;
    height: 40px;
    opacity: 1;
  }
  .date,
  .venue {
    margin-top: 8%;
    font-family: Gilroy-Bold, sans-serif;
    font-size: 5.6vw;
    line-height: 2.8;
    font-weight: 400;
    color: #000000;
  }
  .head {
    color: #e5193b;
    font-size: 6vw;
  }
  img {
    float: right;
  }
  .txt {
    margin-top: 4px;
    vertical-align: middle;
  }
}

@media (min-width: 301px) and (max-width: 500px) {
  nav {
    width: 90%;
    margin: 5%;
  }
  .mobile-nav {
    width: 100%;
  }
  .desktop-nav {
    display: none;
  }
  /* ECX */
  .e {
    color: #1071f3;
  }
  .c {
    color: #e5193b;
  }
  .x {
    color: #f2a702;
  }
  .ecx {
    display: inline;
    font-family: "Monoton", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5vw;
    vertical-align: middle;
    line-height: 37px;
  }
  .dd-content {
    padding: 2% 0 2% 0;
    position: absolute;
    margin-top: 12%;
    margin-left: -7%;
    width: 55%;
    background: white;
    height: 0px;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: 1.5s;
    transition: 1.5s;
  }
  .dd:hover > .dd-content {
    height: 150px;
    opacity: 1;
    -webkit-box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.3);
            box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.3);
  }
  .dd-content > ul > li > a {
    margin-bottom: 4%;
  }
  .dd-content > a {
    display: block;
    padding: 5px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 3.8vw;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
  }
  .norm {
    padding: 6px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.15vw;
    color: black;
    margin-bottom: 1%;
    line-height: 21px;
    color: #262a35;
  }
  .right {
    width: 50%;
    float: right;
  }
  .reg {
    float: left;
    width: 70%;
    padding: 10px;
    cursor: pointer;
    border: none;
    background: red;
    color: white;
    vertical-align: middle;
    margin: 1% 0 0.5% 0;
  }
  .menu {
    float: right;
    margin: 6%;
  }
  .log {
    width: 100%;
    color: red;
    border: 1.5px solid red;
    vertical-align: middle;
  }
  a:hover {
    background: rgba(220, 0, 0, 0.2);
    color: red;
  }
  .image-1,
  .image-2,
  .location {
    display: none;
  }
  .call-to-action {
    width: 80%;
    padding: 6% 5% 5% 7%;
    float: left;
  }
  .call-to-action h1 {
    width: 100%;
    text-align: left;
    font-family: Monad, san-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11.7vw;
    color: #000000;
  }
  /*.register {
		width: 40%;
		height: 40px;
		margin-top: 0;
		margin-bottom: 0;
		margin-left: 20%;
		margin-right: 4%;
		display: inline block;
		font-family: Gilroy-Medium;
		font-size: 15px;
		color: white;
		background: #FA0048;
		border: none;
		border-radius: 3px;
	}*/
  .main {
    width: 90%;
    margin: 5%;
  }
  .lte {
    margin-top: 2%;
    padding-left: 2%;
    font-size: 3.1vw;
    text-align: left;
    font-family: Poppins, serif;
    font-weight: 500;
    color: #000000;
    padding-bottom: 3%;
  }
  .quote {
    text-align: left;
    font-family: Poppins, serif;
    font-weight: 500;
    font-size: 4vw;
    color: #f2a702;
  }
  .learn {
    width: 49%;
    height: 40px;
    margin-top: 15%;
    margin-bottom: 0;
    margin-right: 4%;
    display: inline block;
    font-family: Monad, sans-serif;
    font-size: 4vw;
    color: white;
    background: #262a35;
    border: none;
    border-radius: 3px;
    margin-bottom: 15%;
    opacity: 0.8;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .learn:hover {
    width: 50%;
    height: 43px;
    opacity: 1;
  }
  .date,
  .venue {
    margin-top: 8%;
    font-family: Gilroy-Bold, sans-serif;
    font-size: 5vw;
    line-height: 1.9;
    font-weight: 400;
    color: #000000;
  }
  .head {
    color: #e5193b;
    font-size: 5.3vw;
  }
  img {
    float: right;
  }
  .txt {
    margin-top: 4px;
    vertical-align: middle;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  nav {
    width: 80%;
    margin: 10%;
  }
  .mobile-nav {
    width: 100%;
  }
  .desktop-nav {
    display: none;
  }
  /* ECX */
  .e {
    color: #1071f3;
  }
  .c {
    color: #e5193b;
  }
  .x {
    color: #f2a702;
  }
  .ecx {
    display: inline;
    font-family: "Monoton", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 3.8vw;
    vertical-align: middle;
  }
  .dd-content {
    padding: 2% 0 2% 0;
    position: absolute;
    margin-top: 12%;
    margin-left: -3%;
    width: 50%;
    background: white;
    height: 0px;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: 1.5s;
    transition: 1.5s;
  }
  .dd:hover > .dd-content {
    height: 230px;
    opacity: 1;
    -webkit-box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.3);
            box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.3);
.container input:checked ~ .checkmark::after {
  display: block;
}

.container .checkmark::after {
  margin-left: 7px;
  margin-top: 2px;
  width: 5px;
  height: 14px;
  border: solid white;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.foot {
  display: none;
}

@media screen and (min-width: 768px) {
  html,
  body {
    margin: 0px;
    padding: 0px;
    height: 100%;
  }
  .foot {
    display: block;
    padding: 5px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2.6vw;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 6%;
  }
  .norm {
    padding: 6px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.15vw;
    color: black;
    margin-bottom: 1%;
    line-height: 21px;
    color: #262a35;
  }
  .all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    padding: 0px 100px;
  }
  .navbarr,
  .menulist {
    padding-top: 30px;
  }
  .navbarr {
    padding-left: 100px;
  }
  .upsign,
  .menu {
    float: right;
    width: 15%;
    margin: 2% 7%;
  }
  .log {
    width: 100%;
    color: red;
    border: 1.5px solid red;
    vertical-align: middle;
  }
  a:hover {
    background: rgba(220, 0, 0, 0.2);
    color: red;
  }
  .image-1,
  .image-2,
  .location {
    display: none;
  }
  .call-to-action {
    width: 80%;
    padding: 6% 5% 5% 7%;
    float: left;
  }
  .call-to-action h1 {
    width: 100%;
    text-align: left;
    font-family: Monad, san-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10vw;
    color: #000000;
  }
  .main {
    width: 90%;
    margin: 5%;
  }
  .lte {
    margin-top: 2%;
    padding-left: 2%;
    font-size: 15px;
    text-align: left;
    font-family: Poppins, serif;
    font-weight: 500;
    font-size: 2.3vw;
    color: #000000;
    padding-bottom: 3%;
  }
  .quote {
    text-align: left;
    font-family: Poppins, serif;
    font-weight: 500;
    font-size: 3.2vw;
    color: #f2a702;
  }
  .learn {
    width: 46%;
    height: 46px;
    margin-top: 10%;
    margin-right: 4%;
    display: inline block;
    font-family: Monad, sans-serif;
    font-size: 15px;
    color: white;
    background: #262a35;
    border: none;
    border-radius: 3px;
    margin-bottom: 15%;
    opacity: 0.8;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .learn:hover {
    width: 48%;
    height: 49px;
    opacity: 1;
  }
  .date,
  .venue {
    margin-top: 3%;
    font-family: Gilroy-Regular;
    line-height: 1.6;
    font-size: 3.5vw;
    font-weight: 400;
    color: #000000;
  }
  .head {
    color: #e5193b;
  }
  img {
    float: right;
  }
  .txt {
    margin-top: 4px;
    vertical-align: middle;
  }
}

@media (min-width: 769px) {
  nav {
    margin-top: 4%;
    font-family: "Baloo Da 2";
    font-weight: bold;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1vw;
    line-height: 21px;
    color: #262a35;
  }
  .desktop-nav {
    width: 86%;
    margin: 7% 4% 6% 9%;
  }
  .mobile-nav {
    display: none;
  }
  .desktop-nav ul {
    width: 92%;
    margin: 0 8% 0 0;
    display: none;
  }
  .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 95%;
    margin-top: -80px;
    background: none;
  }
  .list a,
  .abt,
  .men,
  .sch,
  .reg,
  .logg {
    padding: 10px;
  }
  .desktop-nav ul li {
    text-align: center;
    color: #262a35;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .what,
  .de,
  .men,
  .reg,
  .log {
    padding: 6px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.15vw;
    line-height: 21px;
    color: #262a35;
  }
  .reg {
    width: 70%;
    background-color: red;
    color: white;
    vertical-align: middle;
    height: 40px;
  }
  .log {
    width: 70%;
    height: 40px;
    border: 1.5px solid red;
    vertical-align: middle;
  }
  .e {
    color: #1071f3;
  }
  .c {
    color: #f2a702;
  }
  .x {
    color: #e5193b;
  }
  .ecx {
    font-family: "Monoton", cursive;
    font-style: normal;
    font-weight: 500;
    font-size: 2.4vw;
    line-height: 37px;
  }
  
  .come {
    display: none;
  }
  .head {
    color: #e5193b;
    font-size: 1.6vw;
    font-weight: 700;
    font-family: Gilroy-Bold, sans-serif;
  }
  .Date {
    width: 50%;
    float: right;
    text-align: left;
    font-family: Gilroy-Bold, sans-serif;
    font-size: 1.5vw;
    line-height: 1.6;
    font-weight: 540;
    color: #000000;
  }
  .menu {
    display: none;
    margin-bottom: 4%;
    padding-left: 100px;
  }
  input[type=text],
  input[type=password] {
    width: 60%;
  }
  .btn {
    display: inline-block;
    width: 71%;
  }
  .log,
  .sign {
    width: 45%;
  }
  .sign {
    margin-top: 0px;
    background: white;
  }
  .image-1,
  .location {
    float: right;
  }
  input[type='checkbox'],
  label[for=check] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  label[for=check] {
    margin-left: 25px;
  }
  input[type=checkbox] {
    margin-bottom: -15px;
  }
  .register {
    width: 40%;
    height: 40px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20%;
    margin-right: 4%;
    display: inline block;
    font-family: Gilroy-bold;
    font-size: 15px;
    color: white;
    background: #fa0048;
    border: none;
    border-radius: 3px;
  }
  .end {
    font-family: "Monad";
    font-size: 50px;
    text-align: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin-top: -50px;
    margin-right: -60px;
  }
  .guide {
    color: black;
    background: white;
    border: 1px solid #E5193B;
    border-radius: 6%;
    outline: none;
    margin-left: 80px;
    padding: 15px;
    font-size: 10px;
    font-family: "Gilroy-Regular";
  }
  .guide:active {
    color: #E5E5E5;
    background: #E5193B;
  }
  .quote {
    text-align: left;
    font-family: Poppins, serif;
    font-weight: 500;
    font-size: 1.9vw;
    color: #f2a702;
  }
  .learn {
    display: block;
    width: 34%;
    height: 40px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 4%;
    font-family: Monad, sans-serif;
    font-size: 15px;
    color: white;
    background: #262a35;
    border: none;
    border-radius: 3px;
    opacity: 0.8;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .learn:hover {
    opacity: 1;
    width: 35%;
    height: 42px;
  }
  .date,
  .venue {
    display: none;
  }
  .btn-cnt {
    font-family: Gilroy-Medium;
    font-size: 18px;
    color: #000000;
  }
  .hx {
    color: #F2A702;
  }
  .blue {
    color: #1071F3;
  }
}

.about {
  padding: 8px;
}

.about .container {
  max-width: 920px;
  margin: 0 auto;
  margin-top: 30px;
}

.about-text {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #1071f3;
}

.what {
  margin-bottom: 220px;
}

.what img {
  float: left;
  margin-right: 91px;
}

.what .text h2 {
  font-family: "Poppins", sans-serif;
  color: #1071f3;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 20px;
}

.what .text p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.how img {
  float: right;
  margin-left: 89px;
}

.how .text h2 {
  font-family: "Poppins", sans-serif;
  color: #1071f3;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 20px;
}

.how .text p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.how {
  margin-bottom: 200px;
}

.criteria {
  visibility: hidden;
}

@media (max-width: 767px) {
  .about {
    padding: 0px;
  }
  .about-text {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .container .what img {
    width: 100%;
    margin-bottom: 11px;
  }
  .container .how img {
    width: 100%;
    margin-bottom: 11px;
  }
  .text {
    max-width: 335px;
    margin: 0 auto;
  }
  .about .container {
    max-width: 360px;
    margin: 0 auto;
    margin-top: 10px;
  }
  .what {
    margin-bottom: 55px;
  }
  .what .text h2 {
    margin-bottom: 8px;
  }
  .how .text h2 {
    margin-bottom: 8px;
  }
  .how {
    margin-bottom: 70px;
  }
  .criteria {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 90px;
  }
  .criteria-btn {
    visibility: initial;
    width: 202px;
    height: 50px;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    border: none;
    background-color: #1071f3;
    color: #e5e5e5;
    border-radius: 5px;
  }
}

.goal-container {
  background-color: #232732;
  padding: 18px;
  height: 350px;
}

.goal-text {
  text-align: center;
  color: #e5193b;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
}

.goal {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 350px 100px 350px 1fr;
      grid-template-columns: 1fr 350px 100px 350px 1fr;
}

.quotes {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.main-goal {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
}

.stuff-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr;
      grid-template-columns: 1fr 10px 1fr;
}

.stuff-container .idea {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.stuff-container .technology {
  grid-column: 3 / -1;
}

.quotes h3 {
  font-family: "Poppins", sans-serif;
  color: #e5e5e5;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 15px;
}

.quotes small {
  font-family: "Poppins", sans-serif;
  color: #e5193b;
  font-size: 18px;
  font-weight: normal;
}

.quotes p {
  font-family: "Poppins", sans-serif;
  color: #e5e5e5;
  font-size: 14px;
  margin-top: 10px;
}

.main-goal h3 {
  font-family: "Poppins", sans-serif;
  color: #e5193b;
  font-weight: 500;
  font-size: 18px;
}

.ideas {
  font-family: "Poppins", sans-serif;
  color: #e5e5e5;
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 13px;
}

.stuff-container p {
  font-family: "Poppins", sans-serif;
  color: #e5e5e5;
  font-weight: 400;
  font-size: 14px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex svg {
  z-index: 10;
  position: absolute;
}

.flex h4 {
  position: relative;
  margin-left: 20px;
}

@media (max-width: 767px) {
  .goal-container {
    background-color: #f9f9f9;
    text-align: center;
    width: 100%;
    height: initial;
  }
  .quotes {
    display: none;
  }
  .goal-text {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 15px;
  }
  .goal {
    display: block;
  }
  .stuff-container {
    display: block;
  }
  .flex .two {
    margin-left: 33px;
    margin-top: 14px;
    width: 56px;
    height: 36px;
  }
  .flex .one {
    margin-left: 108px;
    margin-top: 7px;
    width: 38px;
    height: 54px;
  }
  .flex svg path {
    fill: black;
  }
  .flex h4 {
    margin: auto;
    padding: 18px;
  }
  .ideas {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .stuff-container .idea {
    margin-bottom: 10px;
  }
  .stuff-container p {
    max-width: 250px;
    margin: 0 auto;
    text-align: left;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 45px;
  }
  .single-hack {
    margin-bottom: 20px;
    padding-left: 10px;
  }
}
/*# sourceMappingURL=main.css.map */
