@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Poppins:wght@500&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 18px;
}

body, html {
  overflow-x: hidden;
}

@font-face {
  font-family: Monad;
  src: url(../../fonts/Monad.otf);
}

@font-face {
  font-family: Gilroy-Bold;
  src: url(../../fonts/Gilroy-Regular.woff);
}

.u-padding-none {
  padding: 0;
}

.u-margin-none {
  margin: 0;
}

@font-face {
  font-family: Monad;
  src: url(Monad.otf);
}

@font-face {
  font-family: Gilroy-Regular;
  src: url(Gilroy-Regular.woff);
}

html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

body {
  background: none;
}

.login-one {
  padding: 30px;
  margin-top: -30px;
}

.login-welcome {
  font-size: 25px;
  font-family: "Gilroy-Medium";
}

.login-text {
  font-family: "Gilroy-Medium";
  margin-bottom: 20%;
}

.page {
  padding-right: 8px;
}

label[for=mail],
label[for=pword] {
  font-family: "Gilroy-Medium";
}

::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-family: "Gilroy-Regular";
}

:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-family: "Gilroy-Regular";
}

::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-family: "Gilroy-Regular";
}

::placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-family: "Gilroy-Regular";
}

.fmail,
.fpword {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
}

.fmail {
  padding-right: 3px;
}

i {
  color: rgba(0, 0, 0, 0.3);
  margin-top: 13px;
  margin-left: -25px;
}

input[type=text],
input[type=password] {
  color: none;
  background: rgba(196, 196, 196, 0.4);
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 15px;
  width: 100%;
  margin-bottom: 4%;
  margin-left: -10px;
}

.log {
  color: white;
  background: #E5193B;
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 10px;
  width: 100%;
  margin-bottom: 4%;
  margin-top: 8%;
  font-family: "Gilroy-Medium";
}

.log:active {
  color: #E5193B;
  background: none;
}

.arrow {
  padding-left: 20px;
}

.sign {
  color: #E5193B;
  background: pink;
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 10px;
  width: 100%;
  margin-bottom: 10%;
  font-family: "Gilroy-Medium";
}

.sign:active {
  color: pink;
  background: #E5193B;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  font-family: "Gilroy-Regular";
  -webkit-user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0px;
  width: 0px;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #E5E5E5;
  border-radius: 5px;
}

.container input:checked ~ .checkmark {
  background-color: #E5193B;
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark::after {
  display: block;
}

.container .checkmark::after {
  margin-left: 7px;
  margin-top: 2px;
  width: 5px;
  height: 14px;
  border: solid white;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.foot {
  display: none;
}

@media screen and (min-width: 768px) {
  html,
  body {
    margin: 0px;
    padding: 0px;
    height: 100%;
  }
  .foot {
    display: block;
  }
  .all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    padding: 0px 100px;
  }
  .navbarr,
  .menulist {
    padding-top: 30px;
  }
  .navbarr {
    padding-left: 100px;
  }
  .upsign,
  .menu {
    display: none;
  }
  .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 95%;
    margin-top: -80px;
    background: none;
  }
  .list a,
  .abt,
  .men,
  .sch,
  .reg,
  .logg {
    padding: 10px;
  }
  .menulist:hover .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .come {
    display: none;
  }
  .head {
    margin-bottom: 4%;
    padding-left: 100px;
  }
  input[type=text],
  input[type=password] {
    width: 60%;
  }
  .btn {
    display: inline-block;
    width: 71%;
  }
  .log,
  .sign {
    width: 45%;
  }
  .sign {
    margin-top: 0px;
    background: white;
  }
  input[type=checkbox],
  label[for=check] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  label[for=check] {
    margin-left: 25px;
  }
  input[type=checkbox] {
    margin-bottom: -15px;
  }
  .end {
    font-family: "Monad";
    font-size: 50px;
    text-align: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin-top: -50px;
    margin-right: -60px;
  }
  .guide {
    color: black;
    background: white;
    border: 1px solid #E5193B;
    border-radius: 6%;
    outline: none;
    margin-left: 80px;
    padding: 15px;
    font-size: 10px;
    font-family: "Gilroy-Regular";
  }
  .guide:active {
    color: #E5E5E5;
    background: #E5193B;
  }
  .hx {
    color: #F2A702;
  }
  .blue {
    color: #1071F3;
  }
}
/*# sourceMappingURL=main.css.map */