*{
    margin: 0;
    padding: 0;
    border: none;
}
body{
    background-color: #E5E5E5;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
	width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.firsta{
	width: 90%;
	margin: auto;
	margin-top: 30px;
	padding-top: 120px;
	border-radius: 3px;
	background: url(../assets/images/Rectangle\ 74.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.inner_firsta{
	width: 100%;
	background-color: white;
	
}
.image_1{
	width: 130px;
	height: 130px;
	border: 1px dashed blue;
	border-radius: 50%;
	padding: 10px;
	margin: auto;
	transform:translateY(-70px) ;
   
}
.image_2{
	width: 100%;
	height: 100%;
}
.image_2 img{
	width: 100%;
}

.inner_texta{
	width: 70%;
	margin: auto;
	text-align: center;
	margin-top: -30px;
}
.inner_texta h3,.inner_texta h4{
	margin-bottom: 5px;
	font-family: 'Nunito Sans', sans-serif;
}
button.btna,input[type="submit"]{
	width: 70%;
	margin: auto;
	padding: 10px;
	border-radius: 7px;
	border: transparent;
	background-color: #0080FB;
	font-family: 'Nunito Sans', sans-serif;
	 margin-bottom: 15px;
	color: white;

}
	.firsta {
		text-align: center;
	}
   .seconda{

    width: 90%;
    margin: auto;
	margin-top: 20px;
   }
   .seconda h2{
    font-family: 'Nunito Sans', sans-serif;
	margin-bottom: 7px;
	text-align: center;;
   }
   .seconda a {
	   text-decoration: none;
	   font-family: 'Nunito Sans', sans-serif;
	   text-align: center;
	   color: white;
   }
   
   form{
	text-align: center;
     background: url(../assets/images/Rectangle\ 80.png);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     padding: 10px;
     overflow: hidden;
   }

   .over_space{
       width: 90%;
       margin: auto;
   }
   .over_space .info, .over_space input {
       width: 80%;
       padding: 5px;
   }
   .over_space h3,.over_space h2{
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 3px;
    color: white;
   }
   .over_space .info, .over_space input {
       margin-bottom: 7px;
       border-radius: 4px;
       border: transparent;
   }
   .over_space .info-text, .over_space  textarea {
       width: 87%;
       border-radius: 5px;
   }
   input[type="submit"]{
       margin: auto;
       width: 100%;
       margin-top: 10px;
   }

}