@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Poppins:wght@500&display=swap');

@font-face{
  font-family: Monad;
  src: url(/storage/emulated/0/Download/Monad.otf);
}   
@font-face{
  font-family:Gilroy-Regular;
  src: url(/storage/emulated/0/Download/Gilroy-Regular.woff);
}

$color-primary: #E5193B;
$color-grey: #232732;
$color-white: #E5E5E5;
$default-font-family:'Poppins',
sans-serif;
$default-font-family-detail: 'Gilroy-Regular',
serif;

html, body{
	margin: 0px;
	padding: 0px;
	height: 100%;
}
body{
	background: $color-white;
}
header{
	text-align: center;
	letter-spacing: 2px;
	font-size: 30px;
	padding-top: 6px;
	font-family: $default-font-family;
	color: $color-primary;
}
.all{
	padding: 0px 20px;
	display: flex;
	margin-top: 6%;
}
.txt{
	padding: 10px 20px;
}
span{
	font-size: 18px;
	color: $color-primary;
	font-family: $default-font-family-detail;
}
p{
	font-size: 14px;
	margin-top: 2%;
	font-family: $default-font-family-detail;
	width: 80%;
	margin-bottom: 10%;
}
.line, .tline{
	width: 2px;
	height: 30px;
	background: $color-primary;
	margin-left: 40%;
	
}
.box, .tbox{
	width: 14px;
	height: 14px;
	background: $color-primary;
	margin-top: -60%;
}
.shape{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: -35px 0px 15px 0px;
	padding: 20px 0px;
}
@media screen and (min-width: 768px) {
	html{
		margin: 0px;
		padding: 0px;
		height: 100%;
	}
	body{
		background: $color-grey;
	}
	p{
		color: #ffffff;
	}
	header{
		font-size: 36px;
		margin-top: 0%;
		margin-left: 5px;
	}
	span{
		font-size: 8px;
	}
	.all{
		display: block;
		padding: 100px;
		padding-top: 0px;
	}
	.right{
		margin-left: 54%;
	}
	.left span{
		font-size: 8px;	
	}
	#short{
		width: 48%;
		margin-bottom: -3%;
	}
	#demo{
		width: 48%;
		margin-bottom:-2%;
	}
	#on{
		margin-bottom: -6%;
	}
	.shape{
		display:inline-block;
		padding-left: 50%;
	}
	.shape p{
		margin-bottom: 80px;
	}
	.txt p{
		margin-top: -2px;
		margin-bottom: 0px;
		width: 70%;
	}
	.txt{
		padding: 0px;
		margin-top: -75%;
	}
	.line{
		margin-left: -30px;
		transform: rotate(-90deg);
	}
	.box, .tbox{
		margin-top: -23px;
	}
	.tline{
		margin-left: 40px;
		transform: rotate(90deg);
	}
	.long{
		width: 2px;
		height: 800px;
		margin-left: 1.5%;
		margin-top: -96%;
		background: $color-primary;
	}
}