.about {
  margin: 0;
  padding: 0;
}

.about-hackx img {
  width: 100%;
  height: 400px;
}

.hackx-def {
  text-align: center;
  padding: 20px;
  padding-bottom: 25px;
}

.hackx-def h1 {
  font-family: $default-font-family-info;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 18px;
}

.hackx-def p {
  font-family: $default-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  max-width: 850px;
  margin: 0 auto;
  text-align: left;
}

.eligible {
  position: relative;
  text-align: center;
  margin-bottom: -26px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.eligible img {
  width: 100vw;
  height: 320px;
}

.eligible .center h1 {
  color: #fff;
  font-family: $default-font-family-info;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  // line-height: 59px;
  text-transform: capitalize;
}

.eligible-text {
  max-width: 850px;
  margin: 0 auto;
  font-family: $default-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  // line-height: 27px;
}

.container {
  max-width: 850px;
  margin: 0 auto;
}

.bullet {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  margin-bottom: 45px;
}

.bullet span {
  margin-left: 50px;
  font-family: $default-font-family;
  font-size: 18px;
}

.list-container {
  display: grid;
  grid-template-columns: 1fr 350px 400px 1fr;
}

.list-container .first {
  grid-column: 2 / 3;
}

.list-container .second {
  grid-column: 3 / 4;
}

.list-container ul li {
  font-family: $default-font-family;
  // list-style-type: ;
  list-style-image: url(../../pages/dot.svg);
  font-size: 15px;
  margin-top: 30px;
}

.hide {
  display: none;
}

.babcock {
  margin-left: 550px;
}

.babcock ul li {
  font-family: $default-font-family;
  font-size: 15px;
  margin-top: 12px;
}

.criteria img {
  height: initial;
  margin-top: 40px;
}

.criteria-box {
  display: grid;
  grid-template-columns: 1fr 350px 80px 350px 1fr;
  background-color: #f4f4f4;
  margin-top: 0;
  padding-top: 30px;
  padding-bottom: 60px;
}

.criteria-box .first {
  grid-column: 2 / 3;
}

.criteria-box .second {
  grid-column: 4 / 5;
}

.criteria-box ul li {
  font-family: $default-font-family;
  // list-style-type: ;
  list-style-image: url(../../pages/dot.svg);
  font-size: 18px;
  margin-top: 20px;
}

.bottom {
  padding: 70px;
  padding-bottom: 134px;
}

.icons {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  margin-left: 95px;
}

.icons .single p {
  font-family: $default-font-family;
  width: 200px;
  font-weight: normal;
}

.click-btns {
  display: flex;
  justify-content: center;
}

.click-btns a button {
  font-family: $default-font-family;
  color: $color-white;
  font-size: 18px;
  border-radius: 5px;
  margin-left: 40px;
  width: 332px;
  height: 56px;
  border: none;
  outline: none;
}

.apply-btn {
  background-color: $color-primary;
}

.login-btn {
  background-color: $color-tertiary;
}

//mobile
@include breakpoint(xs) {
  .hackx-def h1 {
    font-size: 30px;
    margin-bottom: 10px;
    line-height: initial;
  }
  .about-hackx img {
    width: 100%;
    height: 255px;
    margin-bottom: 30px;
  }
  .eligible {
    position: relative;
    text-align: center;
    margin-bottom: 100px;
  }
  .eligible img {
    width: auto;
    height: 88px;
  }
  .eligible .center h1 {
    font-size: 24px;
    margin-top: 100px;
    line-height: initial;
    padding: 0;
  }
  .eligible-text {
    padding: 20px;
  }
  .bullet {
    margin-top: 15px;
    margin-bottom: 25px;
  }
  .bullet span {
    margin-left: 50px;
  }
  .container .bullet .img {
    margin-left: 10px;
  }
  .list-container {
    display: block;
    max-width: 250px;
    margin: 0 auto;
  }
  .hide {
    display: inherit;
  }
  .babcock {
    display: none;
  }
  .criteria img {
    height: none;
    margin-top: 20px;
  }
}
