@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

* {
	box-sizing:border-box;
}
@media screen and (max-width: 768px) {
	html, body{
		margin: 0;
		padding: 0;
		width: 100%;
	}
	.displayy_desktop{
		display: none;
	}
	.display_body{
		background: #E5E5E5;
	}
	.display_txt{
		display: block;
		text-align: center;
		width: 100%;
		padding-top: 50%;
		margin-bottom: 100px;
	}
	.display_txt__one, .display_txt__two{
		font-family: 'Montserrat', sans-serif;
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		color: rgba(0, 0, 0, 0.6);
		text-transform: capitalize;
	}
}

@media screen and (min-width: 769px) {
	html, body{
		margin: 0;
		padding: 0;
		width: 100%;
	}
	.display_body{
		background: #E5E5E5;
	}
	.displayy_mobile{
		display: none;
	}
	.display_txt{
		display: block;
		text-align: center;
		width: 100%;
		margin-top: 20%;
	}
	.display_txt__one, .display_txt__two{
		font-family: 'Montserrat', sans-serif;
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		color: rgba(0, 0, 0, 0.6);
		text-transform: capitalize;
	}
}
@media (min-width: 769px) and (max-width: 999px) {
    .hackx-dashboard {
        display: block;
        font-family: 'Poppins', sans-serif;
        font-size: 2.2vw;
        margin: 2% 5%;
    }
    .Dashboard2-section {
        width: 100%;
        margin-left: 3%;
        margin-right: 3%;
        display: flex;
        justify-content: space-between;
    }
    .Dashboard2-section .headbar {
        display: block;
        width: 100%;
        margin: 0 0 5% 0;
        height: 60px;
        background: white;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        border-radius: 5px;
    }
    .desktopView {
        display: block;
        background: #E5E5E5;
    }
    .mobileView {
        display: none;
    }
    .Dashboard2-section .headbar .header-btn {
        width: auto;
        height: 60px;
        display: flex;
        flex-direction: column;
    }
    .Dashboard2-section .headbar .header-btn button {
        width: 100%;
        height: 56px;
        font-size: 1.8vw;
        line-height: 56px; 
        margin: 0;
        outline: none;
        border: none;
        cursor: pointer;
        font-family: Montserrat, sans-serif;
        font-weight: bold;
        color: rgba(156, 99, 99, 0.4);
    }
    .Dashboard2-section .headbar .header-btn button:hover {
        outline: none;
        border: none;
        color: #1071F3;
    }
    .Dashboard2-section .headbar .header-btn .border-bottom {
        width: 100%;
        background: #1071F3;
        border: none;
        height: 4px;
        display: none;
        border-radius: 5px;
    }
    .Dashboard2-section .headbar .active button {
        color: #1071F3;
    }
    .Dashboard2-section .headbar .active .border-bottom {
        display: block;
    }
    button {
        margin-bottom: 5%;
        border: none;
        background: white;
    }
	.d_section__all {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
	.submission_section {
		padding: 2.6%;
		width: 45%;
		height: 64vw;
		background: #ffffff;
        border-radius: 5px;
        margin-bottom: 100px;
	}
	.sub_head {
		display: flex;
		border: none;
		justify-content: space-between;
		padding: 0% 7%;
		background: #EAEDFE;
		border-radius: 5px;
		margin-bottom: 15%;
	}
	.sub_head__submitOne, .sub_head__submitTwo {
		font-size: 1.4vw;
		font-family: 'Montserrat', sans-serif;
		font-style: normal;
		font-weight: bold;
	}
	.sub_head__submitTwo {
		color: #1071f3;
		padding: 10px 0px;
	}
	.sub_head__submitOne {
		background: #ffffff;
		color: #1071f3;
		padding: 10px 5px;
		border-radius: 5px;
		box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
	}
	.submission_team {
		display: none;
	}
	.sub_section__time p {
		font-family: 'Montserrat', sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 1.5vw;
	}
	#sub_section__timeLeft {
		font-family: 'Nunito sans', sans-serif;
		font-style: normal;
		font-weight: 900;
		font-size: 3.3vw;
		margin-bottom: 5%;
	}
	.sub_section__add {
		background: #f7f7f8;
        display: grid;
        grid-template-columns: 50%, 50%;
        grid-gap: 10px;
        padding: 5%;
        border-radius: 5px;
        font-family: 'Nunito sans', sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 1.56vw;
    }
    .sub_section__add div:nth-child(1) {
        grid-column: 1 / 2;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
		font-style: normal;
		font-weight: bold;
        text-transform: uppercase;
    }
    .sub_section__add div:nth-child(1) img {
        width: 100%;
        height: auto;
        cursor: pointer;
    }
    .sub_section__add div:nth-child(1) img:hover {
        background-image: radial-gradient(rgb(228, 220, 220), whitesmoke, whitesmoke);
    }
    .sub_section__add div:nth-child(1) div {
        font-size: 1.44vw;
    } 
    .sub_section__add div:nth-child(2) {
        grid-column: 2 / 3;
    }
	.sub_submit{
		font-family: 'Montserrat', sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 1.8vw;
		padding: 3.4%;
		width: 100%;
		border: none;
        background: #1071f3;
        border-radius: 5px;
		color: #ffffff;
		margin-top: 15%;
        outline: none;
        cursor: pointer;
	}
	.sub_submit:active {
		color: #f3f3f3;
        background: #64a7ff;
        cursor: pointer;
	}
}
@media (min-width: 1000px) {
    .hackx-dashboard {
        display: block;
        font-family: 'Poppins', sans-serif;
        font-size: 2vw;
        margin: 2% 5%;
    }
    .Dashboard2-section {
        width: 100%;
        margin-left: 5%;
        margin-right: 4%;
        display: flex;
        justify-content: space-between;
    }
    .Dashboard2-section .headbar {
        display: block;
        width: 100%;
        margin: 0 0 5% 0;
        height: 68px;
        background: white;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        border-radius: 4px;
    }
    .desktopView {
        display: block;
        background: #E5E5E5;
    }
    .mobileView {
        display: none;
    }
    .Dashboard2-section .headbar .header-btn {
        width: auto;
        height: 68px;
        display: flex;
        flex-direction: column;
    }
    .Dashboard2-section .headbar .header-btn button {
        width: 100%;
        height: 64px;
        font-size: 1.45vw;
        line-height: 64px; 
        margin: 0;
        outline: none;
        border: none;
        cursor: pointer;
        font-family: Montserrat, sans-serif;
        font-weight: bold;
        color: rgba(156, 99, 99, 0.4);
    }
    .Dashboard2-section .headbar .header-btn button:hover {
        outline: none;
        border: none;
        color: #1071F3;
    }
    .Dashboard2-section .headbar .header-btn .border-bottom {
        width: 100%;
        background: #1071F3;
        border: none;
        height: 4px;
        display: none;
        border-radius: 5px;
    }
    .Dashboard2-section .headbar .active button {
        color: #1071F3;
    }
    .Dashboard2-section .headbar .active .border-bottom {
        display: block;
    }
    button {
        margin-bottom: 5%;
        border: none;
        background: white;
    }
	.d_section__all {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
	.submission_section {
		padding: 3.2%;
		width: 40%;
		height: 60vw;
		background: #ffffff;
        border-radius: 5px;
        margin-bottom: 100px;
	}
	.sub_head {
		display: flex;
		border: none;
		justify-content: space-between;
		padding: 0% 7%;
		background: #EAEDFE;
		border-radius: 5px;
		margin-bottom: 15%;
	}
	.sub_head__submitOne, .sub_head__submitTwo {
		font-size: 1.1vw;
		font-family: 'Montserrat', sans-serif;
		font-style: normal;
		font-weight: bold;
	}
	.sub_head__submitTwo {
		color: #1071f3;
		padding: 10px 0px;
	}
	.sub_head__submitOne {
		background: #ffffff;
		color: #1071f3;
		padding: 10px 5px;
		border-radius: 5px;
		box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
	}
	.submission_team {
		display: none;
	}
	.sub_section__time p {
		font-family: 'Montserrat', sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 1.2vw;
	}
	#sub_section__timeLeft {
		font-family: 'Nunito sans', sans-serif;
		font-style: normal;
		font-weight: 900;
		font-size: 2.6vw;
		margin-bottom: 5%;
	}
	.sub_section__add {
		background: #f7f7f8;
        display: grid;
        grid-template-columns: 50%, 50%;
        grid-gap: 10px;
        padding: 5%;
        border-radius: 5px;
        font-family: 'Nunito sans', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 1.48vw;
    }
    .sub_section__add div:nth-child(1) {
        grid-column: 1 / 2;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
		font-style: normal;
		font-weight: bold;
        font-size: 1vw;
        text-transform: uppercase;
    }
    .sub_section__add div:nth-child(1) img {
        width: 100%;
        height: auto;
        cursor: pointer;
    }
    .sub_section__add div:nth-child(1) img:hover {
        background-image: radial-gradient(rgb(228, 220, 220), whitesmoke, whitesmoke);
    }
    .sub_section__add div:nth-child(2) {
        grid-column: 2 / 3;
    }
	.sub_submit{
		font-family: 'Montserrat', sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 1.2vw;
		padding: 3%;
		width: 100%;
		border: none;
        background: #1071f3;
        border-radius: 5px;
		color: #ffffff;
		margin-top: 15%;
        outline: none;
        cursor: pointer;
	}
	.sub_submit:active {
		color: #f3f3f3;
        background: #64a7ff;
        cursor: pointer;
	}
}