@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Poppins:wght@500&display=swap');
@font-face{
  font-family: Monad;
  src: url(../../fonts/Monad.otf);
}   
@font-face{
  font-family:Gilroy-Bold;
  src: url(../../fonts/Gilroy-Regular.woff);
}

html, body {
	width: 100%;
	margin: 0;
	background: white;
}
* {
	box-sizing: border-box;
}
@media (max-width: 768px) {
	nav {
		width: 90%;
		margin: 5%;
	}
	/* ECX */
.e {
	color: #1071F3;
}
.c {
	color: #E5193B;
}
.x {
	color: #F2A702;
}
.ecx {
	display: inline;
	font-family: 'Monoton', cursive;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	vertical-align: middle;
	line-height: 37px;
}
.nav_link {
	display: inline;
	width: 88px;
	height: auto;
	float: right;
	top: 58px;
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;
	color: ;
}
.menu {
	margin: 3%;
}
	.image-1, .image-2, .location {
		display: none;
	}
	.call-to-action {
		width: 80%;
		padding: 6% 5% 5% 7%;
		float: left;
}
.call-to-action h1 {
	width: 100%;
	text-align: left;
	font-family: Monad, san-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 46px;
	color: #000000;
}
	.register {
	width: 40%;
height: 40px;
margin-top: 0;
margin-bottom: 0;
margin-left: 20%;
margin-right: 4%;
display: inline block;
font-family: Gilroy-Medium;
font-size: 15px;
color: white;
background: #FA0048;
border: none;
border-radius: 3px;
}
.main {
	width: 90%;
	margin: 5%;
}
.lte {
	margin-top: 2%;
	padding-left: 2%;
	font-size: 15px;
	text-align: left;
	font-family: Poppins, serif;
	font-weight: 500;
 font-size: 14px;
 color: #000000;
 padding-bottom: 3%;
}
.quote {
	text-align: left;
	font-family: Poppins, serif;
	font-weight: 500;
 font-size: 25px;
	color: #F2A702;
}
.learn {
	width: 48%;
height: 40px;
margin-top: 30%;
margin-bottom: 0;
margin-right: 4%;
display: inline block;
font-family: Gilroy-Medium;
font-size: 15px;
color: white;
background: #262A35;
border: none;
border-radius: 3px;
margin-bottom: 30%;
}
.date, .venue {
	margin-top: 8%;
	font-family: Gilroy-Regular;
 font-size: 20px;
line-height: 28px;
font-weight: 400;
color: #000000;
}
.head {
	color: #E5193B;
}
img {
	float: right;
}
.txt {
margin-top: 4px;
vertical-align: middle;
}
}

/*Colors
$color-primary: #E5193B;
$color-secondary: #1071F3;
$color-tertiary:#F2A702; orange
$color-gray:#232732;
$color-white: #E5E5E5;
$color-dark:#262A35;
*/
@media (min-width: 769px) {
	nav{
	 margin-top: 8%;
		font-family:"Baloo Da 2";
		font-weight:bold;
		width:100%;
		padding-left: 5%;
		font-family: 'Poppins', sans-serif;
	 font-style: normal;
	 font-weight: 600;
	 font-size: 14px;
	 line-height: 21px;
	 /* identical to box height */
	 color: #262A35;
		display:flex;
		justify-content:space-around;
	}
 .nav_links {
 	 display: block;
		text-align:center;
		font-family: 'Poppins', sans-serif;
	 font-style: normal;
	 font-weight: 600;
	 font-size: 14px;
	 line-height: 21px;
	 /* identical to box height */
	 color: #262A35;
		display:flex;
		justify-content: space-evenly;
		width:70%;
	}
	.register {
		display: none;
	}
 .what, .de, .men, .reg, .log{
		padding:6px;
		height:1.5rem;
		font-family: 'Poppins', sans-serif;
	 font-style: normal;
	 font-weight: 600;
	 font-size: 14px;
	 line-height: 21px;
	 /* identical to box height */
	 color: #262A35;
	}
 .reg{
		padding:6px 20px;
		background-color:red;
		color:white;
		vertical-align: middle;
		height:1.5rem;
	}
 .log{
		padding:6px 20px;
		border:1.5px solid red;
		vertical-align: middle;
	}
	/* ECX */
 .e {
	 color: #1071F3;
 }
 .c {
	 color: #F2A702;
 }
 .x {
	 color: #E5193B;
 }
 .ecx {
	 font-family: 'Monoton', cursive;
	 font-style: normal;
	 font-weight: normal;
	 font-size: 28px;
	 line-height: 37px;
	 margin:0pc 2pc;
 }
 .hero {
	 width: 100%;
 }
 .Venue {
  width: 40%;
  text-align: left;
  float: left;
  margin-top: 8%;
	 font-family: Gilroy-Regular;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  color: #000000;
 }
 .head {
	 color: #E5193B;
 }
 .Date {
  width: 60%;
  float: right;
  text-align: left;
  margin-top: 8%;
	 font-family: Gilroy-Regular;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  color: #000000;
 }
 .menu {
	 display: none;
 }
.image-1 img {
	width: 100%;
}
.image-1, .image-2, .location {
	height: 380px;
	width: 50%;
	display: block;
}
.image-2 {
	margin-top: 3%;
	float: left;
}
.location {
	padding-top: 4%;
	padding-left: 5%;
	margin-top: 3%;
}
.image-1, .location {
	float: right;
}
.call-to-action {
	height: 380px;
	width: 50%;
	padding: 0 2% 0 2%;
	float: left;
}
.call-to-action h1 {
	width: 100%;
	text-align: left;
	font-family: Monad, san-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 46px;
	color: #000000;
}
	.register {
	width: 40%;
height: 40px;
margin-top: 0;
margin-bottom: 0;
margin-left: 20%;
margin-right: 4%;
display: inline block;
font-family: Gilroy-Medium;
font-size: 15px;
color: white;
background: #FA0048;
border: none;
border-radius: 3px;
}
main {
	width: 90%;
	margin: 5%;
}
.lte {
	margin-top: 2%;
	padding-left: 2%;
	font-size: 15px;
	text-align: left;
	font-family: Poppins, serif;
	font-weight: 500;
 font-size: 14px;
 color: #000000;
 padding-bottom: 3%;
}
.quote {
	text-align: left;
	font-family: Poppins, serif;
	font-weight: 500;
 font-size: 25px;
	color: #F2A702;
}
.learn {
	display: block;
	width: 48%;
height: 40px;
margin-top: 7%;
margin-bottom: 0;
margin-right: 4%;
font-family: Gilroy-Medium;
font-size: 15px;
color: white;
background: #262A35;
border: none;
border-radius: 3px;
}
.date, .venue {
	display: none;
}

.btn-cnt {
	font-family: Gilroy-Medium;
	font-size: 18px;
	color: #000000;
}
}