@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Poppins:wght@500&display=swap');

@font-face{
  font-family: Monad;
  src: url(Monad.otf);
}   
@font-face{
  font-family:Gilroy-Regular;
  src: url(Gilroy-Regular.woff);
}

$color-r: #E5193B;
$color-w: #E5E5E5;
$fontG: "Gilroy-Regular";
$fontM: "Monad";
@mixin cbbb($colorr, $bg, $borderr, $b-radius) {
	color: $colorr;
	background: $bg;
	border: $borderr;
	border-radius: $b-radius;
}

html{
	margin: 0px;
	padding: 0px;
	min-height: 100%;
}
body{
	background: none;
	height: 100%;
}
.e {
	color: blue;
}
.c {
	color: #ffb100;
}
.x {
	color: red;
}
.ecx {
	width: 59px;
	height: 37px;
	margin-left: 5%;
	font-family: 'Monoton', cursive;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 37px;
}
.upsign a{
	text-decoration: none;
	padding: 6px 12px;
	background: $color-r;
	color: white;
}
.upsign a:active{
	color: $color-r;
	background: white;
}
.upsign{
	margin: -14% 0% 0% 50%;
	font-family: $fontG;
}
.come{
	margin-top: 20%;
	font-size: 25px;
	margin-left: 10%;
	font-weight: bold;
	font-family: "Poppins", sans-serif;
}
.menu{
	float: right;
	background: none;
	border: none;
	margin: 7% 8% 0% 0%;
	color: $color-r;
	padding: 6px;
}
.menu:active{
	color: $color-w;
	background: $color-r;
}
nav{
	position: relative;
	display: block;
	margin-top: -15%;
}
ul{
	position: absolute;
	float: right;
	display: none;
	margin: 16% 0% 0% 70%;
	list-style-type: none;
	padding: 10px 0px;
}
li a{
	text-decoration: none;
	padding: 8px 6px;
	display: block;
	color: $color-r;
	border: 1px solid $color-w;
	font-family: $fontG;
}
li a:hover{
	background: $color-r;
	color: $color-w;
}
nav:hover ul{
	display: block;
}
.head{
	font-size: 20px;
	margin-left: 10%;
	margin-top: 10%;
	margin-bottom: 20%;
	font-family: $fontG;
}
.page{
	margin-top: 5%;
}
.admin{
	float: right;
	text-decoration: none;
	color: blue;
	margin-top: 4%;
}
.admin:hover{
	color: $color-r;
}
label[for=mail], label[for=pword]{
	padding: 3px;
	font-family: $fontG;
	margin-bottom: 5%;
	margin-left: 10%;
}
input[type=text], input[type=password] {
	@include cbbb(black, $color-w, none, 6%);
	padding: 10px;
	margin-bottom: 8%;
	margin-left: 10%;
	width: 70%;
}
.log{
	@include cbbb(white, $color-r, none, 6%);
	padding: 12px;
	margin-left: 10%;
	width: 76%;
}
.sign:active{
	@include cbbb(white, $color-r, none, 6%);
}
.log:active{
	@include cbbb($color-r, white, none, 6%);
}
.sign{
	@include cbbb($color-r, pink, none, 6%);
	margin-bottom: 5%;
	margin-top: 5%;
	margin-left: 10%;
	padding: 12px;
	width: 76%;
	font-weight: bold;
}
.foot{
	visibility: hidden;
}
.agree{
	font-family: $fontG;
}
.end{
	font-family: $fontM;
}
i{
	margin-left: -8%;
	color: grey;
}
.fa-bars{
	color: $color-r;
}
#arrow{
	color: white;
	margin-left: 7%;
}

@media screen and (min-width: 480px) {
	html{
		margin: 0px;
		padding: 0px;
		min-height: 100%;
	}
	.menu{
		display: none;
	}
	ul{
		display: flex;
		margin: 6% 0% 0% 66%;
	}
	nav:hover ul{
		display: flex;
	}
	li a{
		display: block;
		color: $color-r;
		text-align: center;
		padding: 16px 18px;
		text-decoration: none;
		border: none;
	}
	.ecx{
		padding: 20px 40px;
	}
	.head{
		font-size: 20px;
		margin-left: 14%;
		margin-top: 20%;
		margin-bottom: 5%;
	}
	.admin{
		margin: -4.5% 50% 0% 0%;
	}
	.page{
		margin-left: 4%;
	}
	input[type=text], input[type=password] {
		width: 36%;
		padding: 16px;
		margin-bottom: 3%;
	}
	i{
		margin-left: -4%;
	}
	.log, .sign{
		width: 18%;
	}
	.foot{
		visibility: visible;
		margin: -50% 0% 0% 70%;
		font-size: 40px;
	}
	.end{
		margin-left: 23%;
	}
	.hx{
		color: #1071F3;
	}
	.blue{
		color: #F2A702;
		margin-left: -30%;
	}
	.two{
		margin-left: 8%;
	}
	.guide{
		padding: 30px;
		color: black;
		background: white;
		border: 1px solid $color-r;
		border-radius: 6%;
		margin-left: 10%;
		font-family: "Poppins", sans-serif;
	}
	.guide:active{
		background: $color-r;
		color: white;
	}
	.upsign, .come{
		display: none;
	}
	.sign{
		margin-left: 2%;
	}
	input[type=checkbox]{
		margin-left: 10%;
	}
}
