<!DOCTYPE html>
<html lang="en">
<head>
  <title>Heading</title>
<met name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<link rel="stylesheet" href="../../scss/component/anonymous.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>

<section class="dashboard_cancel">
  <div class="dashboard_x">X</div>
</section>

<article class="dashboard_anonymous">
  <section class="anonymous_left">
    <img class="anonymous_pic" src="../../assets/images/welcomeimg.png" />
  </section>
  
  <section class="anonymous_right">
    <div class="anonymous_head">Welcome Anonymous</div>
    <div class="anonymous_about"><p>Throughout the duration of the hackathon, you will spend your time here to submit your projects.<br>
    Keep track of the timeline and other stuff and the things that happen here.</p></div>
  </section>
</article>

</body>
<script src="../../js/anonymous.js"></script>
</html>
