<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" intial-scale="1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" type="text/css" href="d_header.css">
		<title></title>
	</head>
	<body>
		<div class="header_head">
			<div class="header_one">
				<p class="header_one__app"><a href="#">MY APPLICATION</a></p>
			</div>
			<div class="header_two">
				<p class="header_two__time"><a href="#">TIMELINE</a></p>
				<p class="header_two__prize"><a href="#">PRIZES</a></p>
				<p class="header_two__over"><a href="#">OVERVIEW</a></p>
			</div>
		</div>
	</body>
</html>
