<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../scss/dashsubmission.css">

    <title>Document</title>
</head>
<body>

    <nav>
        <div class="head_section1">
          <div class="head_info0">
            <a href="#">
              <div class="head_pic0">
                <img src="../../assets/images/ECXo.svg"/>
              </div>
            </a>
         </div>
        
         <div class="nav-content">
           <div class="nav-content-flex">
            <div class="nav-links">
              <div class="nav-item">
                <button class="drop-btn">
                  <img src="../../assets/images/dashboard 1.png" alt="Logo">
                  Dashboard
                </button>
                <div class="dropDown-content">
                 <a class="filter" href="#">Timeline</a>
                 <a class="filter" href="#">Announcements</a>
                 <a class="filter" href="#">Overview</a>
               </div>
              </div>
         
              <div class="nav-item br30">
               <a href="#">
                 <img class="message" src="../../assets/images/inbox 1.png" alt="Logo">
                 <img class="unread" src="../../assets/images/Ellipse 16.png" alt="">
                 Inbox
               </a>
             </div>
         
             <div class="nav-item br30">
               <a href="#">
                 <img src="../../assets/images/submit 1.png" alt="Logo">
                 Submission
               </a>
             </div>
            </div>
       
            <div class="i100">
             <div class="head_section2">
               <div class="head_logout">
                 <p class="name">KEAZZY</p>
                 <a href="#" class="view">VIEW PROFILE</a>
               </div>
               <div class="head_pic1">
                  <div class="head_pic2"><img src="../../assets/images/sample.jpg" class="head_pic02"/></div>
                </div>
             </div>
             <div class="linedivide"></div>
            </div>
           </div>
      
           <div class="logout-wrapper">
            <a href="#" class="logout-btn"><button>LOGOUT</button></a>
           </div>
         </div>
        </div>
      </nav>
      
      <div class="hamburger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>


    <div class="submission">
        <div class="conta">
            <h3>SUBMISSION</h3>
            <p>Your submission will appear here</p>
            <hr>
        </div>

        <div class="conta_2">
               <h3>Share what you built</h3>
               <p>Your submission will appear here for refrencing, to enable you invite collaboratora and inspire other builders.</p>
        </div>

        <div class="cross_div">
            <div class="line_box">
                <img src="../../assets/images/clicko.PNG" alt="">
            </div>
            
        </div>
             

        <div class="conta_2">
            <button class="ins p">Submit Project</button>

            <h3>Need Ideas?</h3>
            <p class="ide">Projects are a great way to learn new technologies and even to sharpen the ones you already know. Need ideas for your next project? Smauch the button below</p>


            <button class="ins">inspire me</button>
        </div>



    </div>

    <script src="../../js/profile.js"></script>
</body>
</html>