<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard submission form</title>
    <link rel="stylesheet" href="../../scss/component/dashboard-submission-form.css">
</head>
<body>
    <div class="dashboard-submission-form">
        <div class="heading">
            <div class="headForm"> < Finish Later </div>
            <div class="headMain">
                <div class="Hd">HACK<span class="X">X</span></div>
                <div class="cnt">Submitting project to HackX</div>
            </div>
            <ul class="Ul">
                <li class="List">Describe your project</li>
            </ul>
        </div>
        <form class="subForm">
            <div class="inputCnt">
                <div class="title">
                    <span class="vertrule"></span>
                    <span class="titleName">Name</span>
                </div>
                <div class="info">WHAT ARE YOU CALLING IT ??</div>
                <span class="inputCount">0 / 50</span>                
                <input type="text" name="project-name" placeholder="Begin typing....">
            </div>
            <div class="inputCnt">
                <div class="title">
                    <span class="vertrule"></span>
                    <span class="titleName">Tagline</span>
                </div>
                <div class="info">WRITE A SHORT, SHARP AND ON-POINT DESCRIPTION OF YOUR PROJECT</div>
                <span class="inputCount">0 / 200</span>
                <input type="text" name="tagline" placeholder="Begin typing....">
            </div>
            <div class="inputCnt">
                <div class="title">
                    <span class="vertrule"></span>
                    <span class="titleName">The problem it solves</span>
                </div>
                <div class="info">DESCRIBE WHAT PEOPLE CAN USE IT FOR, OR HOW IT MAKES EXISTING EASIER/SAFER E.T.C</div>
                <span class="inputCount">0 / 200</span>
                <input type="text" name="problem-it-addresses" placeholder="Begin typing....">
            </div>
            <div class="inputCnt">
                <div class="title">
                    <span class="vertrule"></span>
                    <span class="titleName">Challenges I ran into</span>
                </div>
                <div class="info">TELL US ABOUT ANY SPECIFIC BUG OR HUDDLE YOU RAN INTO WHILE BUILDING THIS PROJECT, HOW DID YOU GET OVER IT?</div>
                <span class="inputCount">0 / 200</span>
                <input type="text" name="challenges-encountered" placeholder="Begin typing....">
            </div>
            <div class="inputCnt">
                <div class="title">
                    <span class="vertrule"></span>
                    <span class="titleName">Technologies I used</span>
                </div>
                <div class="info">WRITE A COMMA SEPARATED LIST OF TECHNOLOGIES YOU USED IN BUILDING THE PROJECT</div>
                <span class="inputCount">0 / 200</span>
                <input type="text" name="technologies-used" placeholder="Begin typing....">
            </div>
            <div class="inputCnt">
                <div class="title">
                    <span class="vertrule"></span>
                    <span class="titleName">Links</span>
                </div>
                <div class="info">ADD A GITHUB, WEBSITE, APP STORE E.T.C OR WHEREVER THE PROJECT CAN BE TESTED LIVE</div>
                <span class="inputCount">0 / 50</span>
                <input type="url" name="links" placeholder="Paste or type a link (e.g. https:hackX.github.io) and then press 'Enter'">
            </div>
            <div class="inputCnt">
                <div class="title">
                    <span class="vertrule"></span>
                    <span class="titleName">Video Demo</span>
                </div>
                <div class="info">ADD A GITHUB, WEBSITE, APP STORE E.T.C OR WHEREVER THE PROJECT CAN BE TESTED LIVE</div>
                <span class="inputCount">0 / 50</span>
                <input type="url" name="video-demo" placeholder="Paste or type link here">
            </div>
            <div class="inputCnt">
                <div class="title">
                    <span class="vertrule"></span>
                    <span class="titleName">Pictures</span>
                </div>
                <div class="info">UPLOAD A MAXIMUM OF 5 PICTURES (SIZE: MAX 2MB EACH) SHOWCASING YOUR PROJECT (THE FIRST IMAGE WILL BE USED AS A PREVIEW ON SOCIAL MEDIA)</div>
                <input type="image" name="pictures" src="../../assets/images/dashboard/add image.svg">
            </div>
            <input type="file" class="custom-file-input">
            <input type="file" class="custom-file-input">
            <input type="file" class="custom-file-input">
            <input type="file" class="custom-file-input">
            <input type="file" class="custom-file-input">
        </form>
    </div>
</body>
</html>