<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard submission page</title>
    <link rel="stylesheet" href="../../scss/component/dashboard-submission-page.css">
</head>
<body>
    <div class="dashboard-submission-page">
        <header>hackX <b> > Dashboard</b></header>
        <div class="shareDiv">
            <div class="shareTxtHd">Share what you built</div>
            <div class="shareTxtcnt">Your submission will appear here for referencing, to enable you to invite collaboration and inspire other builders.</div>
            <div class="shareImg">
                <img src="../../assets/images/submission-page-submit.svg" class="subSubmit">
            </div>
        </div>
        <div class="inspiration">
            <img src="../../assets/images/submission-page-bulb.svg" class="subBulb">
            <div class="insp0">
                <div class="inspoHd">Need ideas?</div>
                <div class="inspoTxt">Projects are a great way to learn new technologies and even to sharpen the ones you already know. Need ideas for your next project? Smauch the button below</div>
                <button class="inspoBtn">inspire me</button>
            </div>
            <img src="../../assets/images/submission-page-book.svg" class="subBook">
        </div>
    </div>
</body>
</html>