<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <section class="overview" id="overview">
            <div class="image">
                <div class="hackX">HACK<span class="X">X</span></div>
                <div class="hackathon">HACKATHON</div>
            </div>
            <div class="social">
                <img src="../../assets/images/dashboard/dash-twitter.svg" class="img">
                Twitter
                <img src="../../assets/images/dashboard/overview-blue.svg" class="go">
            </div>
            <div class="social">
                <img src="../../assets/images/dashboard/dash-github.svg" class="img">
                Github
                <img src="../../assets/images/dashboard/overview-gold.svg" class="go">
            </div>
            <div class="social">
                <img src="../../assets/images/dashboard/dash-slack.svg" class="img">
                Slack  
                <img src="../../assets/images/dashboard/overview-red.svg" class="go">
            </div>
        </section>        
    </div>
</body>
</html>