<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timeline</title>
    <link rel="stylesheet" href="../../scss/component/Dashboard2-section.css" type="text/css">
</head>
<body>
    <div class="Dashboard2-section mobileView">
        <header class="mobileDashLink">
            <a class="dashLinks" href="Dashboard2-section.html">Dashboard</a> > <b>Timeline</b>
        </header>
        <div class="sectionbar">
            <section class="timeline">
                <div class="blueHead">TIMELINE</div>
                <hr class="mobViewHr">
                <div class="active-head">
                    <div class="first">
                        April 30, 2020
                    </div>
                    <span class="spnBtn">starts in 78hrs</span>
                    <div class="second">
                        <span class="bold">Hackathon starts</span>
                    </div>
                    <div class="third">
                        Submissions open and you can start submitting your projects
                    </div>                    
                </div>
                <hr class="mobViewHr">
                <div class="coming-head">
                    <div class="first">
                        April 30, 2020
                    </div>
                    <span class="spnBtn">coming soon</span>
                    <div class="second">
                        <span class="bold">Hackathon starts</span>
                    </div>
                    <div class="third">
                        Submissions open and you can start submitting your projects
                    </div>
                </div>
                <hr class="mobViewHr">
                <div class="coming-head">
                    <div class="first">
                        April 30, 2020
                    </div>
                    <span class="spnBtn">coming soon</span>
                    <div class="second">
                        <span class="bold">Hackathon starts</span>
                    </div>
                    <div class="third">
                        Submissions open and you can start submitting your projects
                    </div>
                </div>
                <hr class="mobViewHr">
                <div class="coming-head">
                    <div class="first">
                        April 30, 2020
                    </div>
                    <span class="spnBtn">coming soon</span>
                    <div class="second">
                        <span class="bold">Hackathon starts</span>
                    </div>
                    <div class="third">
                        Submissions open and you can start submitting your projects
                    </div>
                </div>
                <hr class="mobViewHr">
                <div class="coming-head">
                    <div class="first">
                        April 30, 2020
                    </div>
                    <span class="spnBtn">coming soon</span>
                    <div class="second">
                        <span class="bold">Hackathon starts</span>
                    </div>
                    <div class="third">
                        Submissions open and you can start submitting your projects
                    </div>
                </div>
                <hr class="mobViewHr">
                <div class="coming-head">
                    <div class="first">
                        April 30, 2020
                    </div>
                    <span class="spnBtn">coming soon</span>
                    <div class="second">
                        <span class="bold">Hackathon starts</span>
                    </div>
                    <div class="third">
                        Submissions open and you can start submitting your projects
                    </div>
                </div>
                <hr class="mobViewHr">
            </section>
            </div>
    </div>
</body>
</html>