<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <section class="announcement" id="announcement">
            <p>
                <div class="elem1">May 19, 2020</div>
                <a href="#">Book your mentor session with the Biconomy team!</a><br>
                Hey Hackers,
            </p>
            <p>
                The Biconomy team is hosting dedicated mentorship and tech support for those integrating Biconomy with their DApps at hackX, today evening. Superchanging your DApps is super easy with Biconomy, not to mention the chance to win the awesome bounties on offer!
            </p>
            <p>
                Bounties:<br>
                <a href="https://medium.com/biconomy/buildl-on-biconomy-at-the-money-legos-hackathon-eba04aca2638">https://medium.com/biconomy/buildl-on-biconomy-at-the-money-legos-hackathon-eba04aca2638</a>
                <br>Documentation:<br> <a href="https://docs.biconomy.io/">https://docs.biconomy.io/</a><br>
                Workshop:<br> <a href="https://www.youtube.com/watch?v=SmCqbLaRAJI">https://www.youtube.com/watch?v=SmCqbLaRAJI</a>
            </p>
            <p>
                You can book your one-on-one 15min mentorship session with the Biconomy team through the link below.
            </p>
            <p>
                <a href="https://calendly.com/tarungupta/biconomy-dapp-integration-discussion?month=2020-04">https://calendly.com/tarungupta/biconomy-dapp-integration-discussion?month=2020-04</a>
            </p>
            <p>
                Time: 6:30 - 8:00 PM 1ST 28 April
            </p>
        </section>        
    </div>
</body>
</html>