<!DOCTYPE html>
<html lang="en">
<head>
  <title>Heading</title>
<met name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<link rel="stylesheet" href="../../scss/component/dashboard-navbar-desktop.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>

<section class="head_section1">
 <section class="head_info0">
  <div class="head_pic0"><img src="../../assets/ECX.svg"/></div>
  <div class="head_dashboard"><img class="dashboard_pic" src="../../assets/images/dashboard-pic.png" /><div class="b"><a href="#">Dashboard</a></div></</div></div>
  
  <div class="head_inbox"><img class="inbox_pic" src="../../assets/images/inbox-pic.png" /><div class="b"><a href="#">Inbox</a></div></div>
    
  <div class="head_submission"><img class="submission_pic" src="../../assets/images/submit-pic.png" /><div class="b"><a href="#">Submission</a></div></div>
 </section>
 
    <section class="head_section2">
      <div class="head_logout"><a href="#">KEAZZY</a></div>
      <div class="head_pic1">
      <a href="#">
         <div class="head_pic2"><img src="../../assets/images/sample.jpg" class="head_pic02"/></div>
       </div>
      </a>
    </section>
</section>

</body>
</html>
