<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <section class="timeline">
            <div class="active-head">
                <div class="first">
                    April 30, 2020
                </div>
                <div class="second">
                    <span class="bold">Hackathon starts</span>
                    <span class="spnBtn">starts in 78hrs</span>
                </div>
                <div class="third">
                    submissions open and you can start submitting your projects
                </div>                    
            </div>
            <div class="coming-head">
                <div class="first">
                    April 30, 2020
                </div>
                <div class="second">
                    <span class="bold">Hackathon starts</span>
                    <span class="spnBtn">coming soon</span>
                </div>
                <div class="third">
                    submissions open and you can start submitting your projects
                </div> 
                <div class="first">
                    April 30, 2020
                </div>
                <div class="second">
                    <span class="bold">Hackathon starts</span>
                    <span class="spnBtn">coming soon</span>
                </div>
                <div class="third">
                    submissions open and you can start submitting your projects
                </div> 
                  <div class="first">
                    April 30, 2020
                </div>
                <div class="second">
                    <span class="bold">Hackathon starts</span>
                    <span class="spnBtn">coming soon</span>
                </div>
                <div class="third">
                    submissions open and you can start submitting your projects
                </div> 
                <div class="first">
                    April 30, 2020
                </div>
                <div class="second">
                    <span class="bold">Hackathon starts</span>
                    <span class="spnBtn">coming soon</span>
                </div>
                <div class="third">
                    submissions open and you can start submitting your projects
                </div> 
                <div class="first">
                    April 30, 2020
                </div>
                <div class="second">
                    <span class="bold">Hackathon starts</span>
                    <span class="spnBtn">coming soon</span>
                </div>
                <div class="third">
                    submissions open and you can start submitting your projects
                </div>   
            </div>
        </section>
    </div>
</body>
</html>