<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>submissions</title>
    <link rel="stylesheet" href="../../scss/component/dashboard-submissions.css">
</head>
<body>
    <div class="dashboard-submissions">
        <header>hackX<b> > Dashboard</b></header>
        <section class="submittedScreen">
            <div class="Hello">Hello</div>
            <div class="description">No Description</div>
            <hr>
            <div class="status">
                <span class="submission-state">Submitted: 05-03-2020</span>
                <span class="update-state">Last updated: 05-07-2020</span>
                <span class="grade-status">Gradding Status: Pending</span>
            </div>
        </section>
        <section class="submittedScreen">
            <div class="Hello">Hello</div>
            <div class="description">No Description</div>
            <hr>
            <div class="status">
                <span class="submission-state">Submitted: 05-03-2020</span>
                <span class="update-state">Last updated: 05-07-2020</span>
                <span class="grade-status">Gradding Status: Pending</span>
            </div>
        </section>
        <section class="submittedScreen">
            <div class="Hello">Hello</div>
            <div class="description">No Description</div>
            <hr>
            <div class="status">
                <span class="submission-state">Submitted: 05-03-2020</span>
                <span class="update-state">Last updated: 05-07-2020</span>
                <span class="grade-status">Gradding Status: Pending</span>
            </div>
        </section>
        <section class="submittedScreen">
            <div class="Hello">Hello</div>
            <div class="description">No Description</div>
            <hr>
            <div class="status">
                <span class="submission-state">Submitted: 05-03-2020</span>
                <span class="update-state">Last updated: 05-07-2020</span>
                <span class="grade-status">Gradding Status: Pending</span>
            </div>
        </section>
        <section class="submittedScreen">
            <div class="Hello">Hello</div>
            <div class="description">No Description</div>
            <hr>
            <div class="status">
                <span class="submission-state">Submitted: 05-03-2020</span>
                <span class="update-state">Last updated: 05-07-2020</span>
                <span class="grade-status">Gradding Status: Pending</span>
            </div>
        </section>
    </div>
</body>
</html>