<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../scss/component/dropdown.css">
    <title>Dropdown</title>
</head>
<body>
    <div class="dropdownProfile">
        <div class="username">Signed in as Keazzy </div>
        <hr class="ddHr">
        <div class="accountState">Flying Solo</div>
        <hr class="ddHr">
        <div class="navigationLink">
            <a>Your Profile</a>
            <a>Your submissions</a>
            <a>Your Teams</a>
        </div>
        <hr class="ddHr">
        <div class="otherNavs">
            <a>Help</a>
            <a>Settings</a>
            <a>Logout</a>
        </div>
    </div>
</body>
</html>