<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="../../scss/component/info.css">
</head>
<body>
    <div class="dashboard-info">
        <span class="hack">HACK</span>
        <span class="X">X</span>
        <div class="bold">HACKATHON STARTS</div>
        May 30th
        <br>
        <br>
        <div class="bold">Ends</div>
        August 15th
    </div>
</body>
</html>