<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>participant-info</title>
    <link rel="stylesheet" href="../scss/component/participant-info.css" type="text/css">
</head>
<body>
    <div class="participant-info">
        <div class="head">
            Fill the following profile information as<br> required by the organizers of <b>hackX</b>
        </div>
        <div class="response-bar">
            <div class="circles">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
            <button class="next">next</button>
        </div>
        <div class="reply">
            <header class="contestant-bio"><b>BIO</b></header>
            <textarea class="bio-textarea">
                write something about yourself
            </textarea>
        </div>
    </div>
</body>
</html>