<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>participant-info</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../../scss/component/participant-info.css" type="text/css">
</head>
<body>
    <div class="participant-info">
        <div class="head">
            Fill the following profile information as<br> required by the organizers of <b>hackX</b>
        </div>
        <div class="response-bar">
            <div class="circles">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
                <span class="dot" onclick="currentSlide(4)"></span>
                <button class="prev" id="prev" onclick="plusSlides(-1)">PREVIOUS</button>
                <button class="next" id="finish">FINISH</button>
                <button class="next" id="next" onclick="plusSlides(1)">NEXT</button>
            </div>
        </div>
        <div class="infoSlide">
            <div class="reply">
                <header class="contestant-bio"><b>BIO</b></header>
                <textarea class="inputarea">
                    write something about yourself
                </textarea>
            </div>
          </div>
        
          <div class="infoSlide">
            <div class="reply">
                <header class="contestant-bio">WHICH OF THE FOLLOWING DESCRIBES YOU BEST</header>
                <form class="inputarea2">
                        <div class="contestant-description">
                          <input type="checkbox" id="customCheckbox"/>
                          <label  for="customCheckbox">Designer</label>
                        </div>
                        <div class="contestant-description">
                          <input type="checkbox" id="customCheckbox2"/>
                          <label  for="customCheckbox2">Frontend Developer</label>
                        </div>
                        <div class="contestant-description">
                            <input type="checkbox" id="customCheckbox3"/>
                            <label  for="customCheckbox3">Backend Developer</label>
                        </div>
                        <div class="contestant-description">
                            <input type="checkbox" id="customCheckbox4"/>
                            <label  for="customCheckbox4">Mobile Developer</label>
                        </div>
                </form>
            </div>
          </div>
        
          <div class="infoSlide">
            <div class="reply">
                <header class="contestant-bio">Add link to your website, blog, Github, LinkedIn, Dribble, Kaggle or anywhere your work stands out</header>
                <div class="inputarea">
                   <div class="link-head">GITHUB</div>
                   <div class="link-address"><span></span></div>
                   <div class="new-profile">+Add new profile</div>
                </div>
            </div>
          </div>
          <div class="infoSlide">
            <div class="reply">
                <header class="contestant-bio">Select your Institution</header>
                <form class="inputarea">
                    <header class="title">Select your Institution</header>
                    <input type="text" name="contestant-institution" placeholder="Institution" list="const-inst-list"/>
                    <datalist id="const-inst-list">
                        <option>YABATECH</option>
                        <option>University of Ibadan</option>
                        <option>Obafemi Awolowo University</option>
                        <option>University of Lagos</option>
                        <option>University of Ilorin</option>
                        <option>Convenant University</option>
                        <option>Babcock/Bells University</option>
                        <option>Ibadan polytechnic</option>
                        <option>Federal University of Technology, Akure</option>
                        <option>Federal University of Agriculture, Abeokuta</option>
                        <option>Kwara State University</option>
                        <option>Lagos State University</option>
                        <option>Adekunle Ajasin University, Akungba</option>
                        <option>University of Ado-ekiti</option>
                    </datalist>
                </form>
            </div>
          </div>
    </div>
    <script src="../../js/participant-info.js"></script>
</body>
</html>
