<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link href="../scss/component/Dashboard2-section.css" rel="stylesheet">
    <link href="../scss/page/popup.css" rel="stylesheet">
    <link rel="stylesheet" href="../scss/component/dashboard-navbar.css">
    <link rel="shortcut icon" href="../assets/ECX.svg" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../scss/profile.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <nav>
        <div class="head_section1">
            <div class="head_info0">
                <a href="#">
                    <div class="head_pic0">
                        <img src="../assets/ECX.svg"/>
                    </div>
                </a>
            </div>
            <div class="nav-content">
                <div class="nav-content-flex">
                    <div class="nav-links">
                        <div class="nav-item">
                            <button class="drop-btn">
                                <img src="../assets/images/dashboard/dashboard-logo.png" alt="Logo">
                                Dashboard
                            </button>
                            <div class="dropDown-content">
                                <a class="filter" href="#timelineBtn">Timeline</a>
                                <a id="announDropBtn" class="filter" href="#announBtn">Announcements</a>
                                <a class="filter" href="#overviewBtn">Overview</a>
                            </div> 
                        </div>
                        <div class="nav-item br30">
                            <a href="#">
                                <img src="../assets/images/dashboard/submit-logo.png" alt="Logo">
                                Submission
                            </a>
                        </div>
                    </div>
                    <div class="i100">
                        <div class="head_section2">
                            <div class="head_logout">
                                <p class="name">KEAZZY</p>
                                <a href="#" class="view">VIEW PROFILE</a>
                            </div>
                            <div class="head_pic1">
                                <div class="head_pic2"><img src="../assets/images/sample.jpg" class="head_pic02"/></div>
                            </div>
                            <div class="dropdown_button">
                                <button class="dropdownBtn">
                                    <img src="../assets/images/dashboard/dropdown-logo.svg">
                                    <div class="dropdownProfile" id="dropdownProfile">
                                        <div class="username">Signed in as <span class="user_username">Keazzy</span> </div>
                                        <hr class="ddHr">
                                        <div class="accountState">Flying Solo</div>
                                        <hr class="ddHr">
                                        <div class="navigationLink">
                                            <a href="profile-page.html">Your Profile</a>
                                            <a>Your submissions</a>
                                            <a>Your Teams</a>
                                        </div>
                                        <hr class="ddHr">
                                        <div class="otherNavs">
                                            <a href="mailto:ecxunilag@gmail.com?subject=Dear%20ECX%20,%20my%20name%20is%20 %20and%20I%20help%20with" target="_blank">Help</a>
                                            <a>Settings</a>
                                            <a id="logout_user">Logout</a>
                                        </div>
                                    </div>                                    
                                </button>
                            </div>    
                        </div>
                        <div class="linedivide"></div>
                    </div>
                </div>
                <div class="logout-wrapper">
                    <a href="#" class="logout-btn" id="logout_user"><button class="logout_user">LOGOUT</button></a>
                </div>
            </div>
        </div>
    </nav>
    <div class="hamburger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div> 
    <div class="firsta">
        <div class="inner_firsta">
           <div class="image_1">
                <div class="image_2">
                    <img src="../assets/images/Ellipse 1.png" alt="">
                </div>
           </div>
           <div class="inner_texta">
               <h3 id ="fullName">Dummy Noobie</h3>
               <h4 id = "usernameHd">Dunoo</h4>
           </div>
           <button class="btna" onclick="direct()">Change username</button>
        </div>
    </div>

    <div class="seconda login-container">
        <h2>Profile</h2>
        <form action="" class="login-form">
            <div class="over_space">
                <h3>Username</h3>
                <div id= "username" class="info"></div>
           
            
                <h3>Email Address:</h3>
                <div id= "email" class="info"></div>
           
           
                <h3>FirstName</h3>
                <div id= "firstname" class="info"></div>
            
            
                <h3>Lastname</h3>
                <div id= "lastname" class="info"></div>
            
            
                <h3>Track</h3>
                <div id= "track" class="info"></div>
            
            
                <h3>Age</h3>
                <div id= "age" class="info"></div>
               

                <h3>Institution</h3>
                <div id="institution" class="info"></div>              
            </div>           
        </form>
        <a href="#">edit</a>
    </div>
    <script src="../js/profile-page.js"></script>
</body>
</html>