<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" intial-scale="1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" type="text/css" href="/storage/emulated/0/Progress/progress.css">
		<title></title>
	</head>
	<body class="progress_body">
		<div class="progress_section">
			<p class="progress_head">PROGRESS</p>
			<p class="progress_percent">25%</p>
			<div class="progress_bar">
				<div class="progress_bar__circleOne">1</div><div class="progress_bar__line"></div>
				<div class="progress_bar__circleTwo"></div><div class="progress_bar__line"></div>
				<div class="progress_bar__circleThree"></div><div class="progress_bar__line"></div>
				<div class="progress_bar__circleFour"></div>
			</div><br>
			<button class="progress_submit"><a href="#">Submit Application</a></button><br><br>
		</div>
	</body>
</html>