<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" type="text/css" href="/storage/emulated/0/Submission/submission_section.css">
		<title></title>
	</head>
	<body class="sub_body">
	  <div class="submission_section">
		<div class="sub_head">
			<p class="sub_head__submitOne">SUBMITTING IN TEAM</p>
			<p class="sub_head__submitTwo">SUBMITTING IN TEAM</p>
		</div>
		<p class="sub_create">Create a new team or join an existing one</p><br>
		<div class="sub_team">
			<p class="sub_team__name">TEAM NAME</p>
			<input type="text" id="name" name="name"><button class="sub_team__createTeam">Create team</button><br>
			<div class="sub_team__line"><span class="sub_team__or">OR</span></div><br>
			<p class="sub_team__code">TEAM CODE</p>
			<input type="text" id="code" name="code" placeholder="eg HZK5788"><button class="sub_team__joinTeam">Join team</button><br>
		</div>
		<div class="sub_section">
			<div class="sub_section__time">
				<p>TIME LEFT TO SUBMIT</p>
				<div id="sub_section__timeLeft"></div>
			</div>
			<div class="sub_section__add">
				<div class="sub_section__addImage">
					<img src="/storage/emulated/0/hackX/assets/images/submission-page-submit.svg"><p>Add Project</p>
				</div>
				<p>Begin your project submission by clicking the plus [+] button once the hackathon starts.
				   Once started, you will be able to edit and update the project until you submit it for judging.</p>
			</div>
		</div>
		<button class="sub_submit">Submit project for judging</button>
      </div>
	</body>
	<script type="text/javascript" src="/storage/emulated/0/Submission/submission_section.js"></script>
</html>