</<!DOCTYPE html>
<html lang="en">
<head>
  <title>30 Hours</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<link rel="shortcut icon" href="mylogo.jpg" type="image/X-icon">
<link rel="stylesheet" href="../scss/component/30Hours.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<script src='https://kit.fontawesome.com/e1aab4bf00.js'></script>
</head>
<body>
  
<section class="one">
  <div class="thirty">30</div>
  <div class="hours">HOURS</div>
  <div class="of">OF...</div>
  <div class="train0">DESIGNING / BUILDING / CODING /HACKING/ <br>
    NETWORKING / MENTORS / COMPETITIONS /COFEE/ <br>
    TEA /FOOD /SNACKS /SWAGS</div>
</section>

<section class="two">
 <article class="first">
  <div class="img1"><i class='fab fa-google'></i></div><br>
  <div class="tracks">5 TRACKS</div>
 </article>
  
 <article class="second">
  <div class="img1"><i class='fab fa-google'></i></div><br>
  <div class="tracks">4 SECTORS</div>
 </article> 
  
 <article class="third">
  <div class="img1"><i class='fab fa-google'></i></div><br>
  <div class="tracks">CODE</div>
 </article>
  
 <article class="fourth">
  <div class="img1"><i class='fab fa-google'></i></div><br>
  <div class="tracks">DEPLOY</div>
 </article>  
</section>


</body>
</html>
