
<body>
  <section class="hours-body">
<section class="hours-one">
  <div class="hours-thirty">30</div>
  <div class="hours-hours">HOURS</div>
  <div class="hours-of">OF...</div>
  <div class="hours-train0">DESIGNING / BUILDING / CODING /HACKING/ <br>
    NETWORKING / MENTORS / COMPETITIONS /COFEE/ <br>
    TEA /FOOD /SNACKS /SWAGS</div>
</section>

<section class="hours-two">
 <article class="hours-first">
  <div class="hours-img1"><i class='hours-fab fab fa-google'></i></div><br>
  <div class="hours-tracks">5 TRACKS</div>
 </article>
  
 <article class="hours-second">
  <div class="img1"><i class='hours-fab fab fa-google'></i></div><br>
  <div class="hours-tracks">4 SECTORS</div>
 </article> 
  
 <article class="hours-third">
  <div class="hours-img1"><i class='hours-fab fab fa-google'></i></div><br>
  <div class="hours-tracks">CODE</div>
 </article>
  
 <article class="hours-fourth">
  <div class="hours-img1"><i class='hours-fab fab fa-google'></i></div><br>
  <div class="hours-tracks">DEPLOY</div>
 </article>  
</section>
</section>

</body>

