<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="shortcut icon" href="../assets/ECX.svg" type="image/x-icon" />
        <link rel="stylesheet" href="../scss/component/404-style.css" />
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap" rel="stylesheet">
        <title>Error - 404</title>
    </head>

    <body>
        <div class="container-bg">
            <div class="container-404">
                <p class="text-404">Oops This page you're looking for is no where to be found</p>
                <img src="../assets/images/404-pic.png" alt="Error">
                <a href="#" class="link-return"><button>Go Back Home</button></a>
            </div>
        </div>
    </body>


</html>
