
  <body>
    <div class="about">
      <h1 class="about-text">About</h1>
      <div class="container">
        <div class="what">
          <img src="../assets/images/about.svg" alt="about" />
          <div class="text">
            <h2>
              What is HackX?
            </h2>
            <p>
              The ﬁrst edition of ECX Hackathon themed HackX “Building Solutions
              for the Future” focuses on building innovative solutions to the
              following sectors: Health, Real Estate, Logistics, Education. The
              competition enables programmers to share skills in teams solving a
              real engineering challenge.
            </p>
          </div>
        </div>
        <div class="how">
          <img src="../assets/images/about.svg" alt="about" />
          <div class="text">
            <h2>
              How it works
            </h2>
            <p>
              After registration, access will be gained to the judge system. The
              judge system is our platform where teams would be formed, hub
              would be created and tasks would be solved during the rounds.
              During the online qualification round, the problems would be
              live-streamed via YouTube. Each team would have four hours to
              solve an optimization problem using programming languages and
              tools of their choice. Teams can compete from a local hub or other
              locations.
            </p>
          </div>
        </div>
      </div>
      <div class="criteria">
        <a href="#"
          ><button class="criteria-btn">
            View Criteria for Participation
          </button></a
        >
      </div>
    </div>
  </body>

