<body>
  <section class="contact-main">
    <form class="contact-form">
      <h1 class="contact-heading">CONTACT</h1>
      <h6 class="contact-details">Do you want to partner or sponsor?</h6>
      <input
        class="contact-input-text"
        type="text"
        name="name"
        placeholder="Name"
      />
      <input
        type="email"
        name="email"
        class="contact-input-text"
        placeholder="Email"
      />
      <textarea class="contact-textarea" placeholder="Message"></textarea>
      <input class="contact-submit" type="submit" value="SEND" />
    </form>
    <div class="link-to-dashboard">
      <button class="span">SEE YOU SOON!</button>
      <button class="button" href="#">go to dashboard</button>
    </div>
  </section>

  <script src="js/main.js"></script>
</body>
