<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="scss/contact.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/scss/contact.css" />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>

    <title>HackX</title>
  </head>

  <body>
    <main class="contact-main">
      <form class="contact-form">
        <h1 class="contact-heading">CONTACT</h1>
        <h6 class="contact-details">Do you want to partner or sponsor</h6>
        <input class='contact-input-text' type="text" name="name" placeholder="Name" />
        <input type="email" name="email" class='contact-input-text' placeholder="Email" />
        <textarea class='contact-textarea' placeholder="Message"></textarea>
        <input class='contact-submit' type="submit" value="SEND" />
      </form>
      <div class="link-to-dashboard">
        <button class="span">SEE YOU SOON!</button>
        <button class="button" href="#">go to dashboard</button>
      </div>
    </main>

    <script src="js/main.js"></script>
  </body>
</html>
