<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>criteria</title>
		<link href="../scss/criteria.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<h1 class="criteria-section-h1">CRITERIA FOR SELECTION</h1>
		<div class="criteria-section">
			<div class="uls">
				<div class="ul1">
			   		<ul>
						<li>Selection would be aimed at giving equal gender oppurtunities</li>
				   		<li>Participants must have active WhatsApp contact, email address, Github account for ease of communication</li>
				   		<li>Each team would have a range of 4 - 5 individuals.</li>
					</ul>
				</div>
				<div class="ul2">
					<ul>
				   		<li>The Hackathon is only opened to undergraduates of qualified colleges as stated</li>
				   		<li>The admin would select based on the merit discretion of qualified candidates</li>
			   			<li class="li">A college can have more thsn one person for representation</li>
			   		</ul>
				</div>
			</div>
			<div class="section">
				<div class="container">
		 			<div class="content cnt">
						<img src="../assets/images/eligibility.png" class="scheme-image">
					  	<span class="text">
					   		Check for Eligibility
							</span>
					</div>
					<div class="content arrow">
						<img src="../assets/images/blue-arrow.png" class="arrow-flow">
					</div>
				  	<div class="content cnt">
						<img src="../assets/images/register.png" class="scheme-image">
				  		<span class="text">
				   			Register for the Hackathon
						</span>
					</div>
					<div class="content arrow">
						<img src="../assets/images/yellow-arrow.png" class="arrow-flow">
					</div>
			  		<div class="content cnt">
						<img src="../assets/images/complete-task.png" class="scheme-image">
					  	<span class="text">
					   		Complete Task
						</span>
					</div>
					<div class="content arrow">
						<img src="../assets/images/red-arrow.png" class="arrow-flow">
					</div>
				  	<div class="content cnt">
				   		<img src="../assets/images/wait-for-result.png" class="scheme-image">
					  	<span class="text">
					   		Wait for results
						</span>
					</div>
			  	</div>
			  	<div class="buttons">
					<button href="#" class="btn1">
			   			Apply Now
				  	</button>
				  	<button href="#" class="btn2">
				   		Home
					</button>
				</div>
			</div>
		</div>
	</body>
</html>						