<!DOCTYPE html>
<html lang="en">
<head>
  <title>Heading</title>
<met name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<link rel="stylesheet" href="../scss/component/dashboard-navbar.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' >
</script>
</head>

<body>

<section class="head_section1">
 <section class="head_info0">
  <div class="head_pic0"><img src="../assets/ECX.svg"/></div>
  <div class="head_dashboard"><img class="dashboard_pic" src="../assets/images/dashboard-pic.png" /><div>Dashboard</div></div>
  <div class="head_inbox"><img class="inbox_pic" src="../assets/images/inbox-pic.png" /><div class="b">Inbox</div></div>
  <div class="head_submission"><img class="submission_pic" src="../assets/images/submit-pic.png" /><div>Submission</div></div>
 </section>
    <section class="head_section2">
      <div class="head_logout">KEAZZY</div>
      <div class="head_pic1">
         <div class="head_pic2"><img src="../assets/images/sample.jpg" class="head_pic02"/></div>
       </div>
       <div class="sort_down"><i class="fas fa-sort-down"></i></div>
       
      <div class="head_drop">&#9776</div>
    </section>
</section>

<section class="head_section3">
  <div class="head_dashboard dashboard1"><a href="#">Dashboard</a></div>
  <div class="head_inbox dashboard1"><a href="#">Inbox</a></div>
  <div class="head_submission dashboard1"><a href="#">Submission</a></div>
</section>


</body>
<script src="../js/dashboard-navbar.js"></script>

</html>


