<!DOCTYPE html>
<html lang="en">
<head>
  <title>Heading</title>
<met name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<link rel="stylesheet" href="../scss/component/dashboard-navbar.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>

<section class="head_section1">
 <section class="head_info0">
  <div class="head_pic0"><img src="../assets/ECX.svg"/></div>
 </section>
    <section class="head_section2">
      <div class="head_logout">LOGOUT</div>
      <div class="head_pic1">
         <div class="head_pic2"><img src="../assets/images/sample.jpg" class="head_pic02"/></div>
       </div>
      <div class="head_drop">&#9776</div>
    </section>
</section>

 <section class="navbar_second">
  <div class="navbar_about"><a href="#">Home</a></div>
  <div class="navbar_about"><a href="#">About</a></div>
  <div class="navbar_ment"><a href="#">Mentors</a></div>
  <div class="navbar_sch"><a href="#">Schedule</a></div>
  <div class="navbar_sch"><a href="#">Contact</a></div>
  <div class="navbar_inbox"><a href="#">Inbox</a></div>
  <div class="navbar_reg2"><a class="navbar_reg3" href="#">REGISTER</a></div>
  <div class="navbar_log"><a class="navbar_log2" href="#">LOGIN</a></div>
 </section>

</body>
<script src="../js/dashboard-navbar.js"></script>
</html>





