<!DOCTYPE html>
<html lang="en">
<head>
  <title>30 Hours</title>
<met name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<link rel="shortcut icon" href="mylogo.jpg" type="image/X-icon">
<link rel="stylesheet" href="../scss/component/Fixed_30Hours.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<script src='https://kit.fontawesome.com/e1aab4bf00.js'></script>
</head>

<body>
  
<section class="one30">
  <div class="thirty">30</div>
  <div class="hours">HOURS</div>
  <div class="of">OF...</div>
  <div class="train0">DESIGNING /BUILDING/CODING /HACKING / NETWORKING /MENTORS /COMPETITIONS /COFEE /TEA /FOOD /SNACKS /SWAGS</div>
</section>

<section class="two30">
 <article class="first30">
  <div class="img1"><i class='fab fa-google'></i></div><br>
  <div class="tracks30">5 Tracks</div>
  <div>My name is Fasasi Sherif and I'm a front-end developer </div>
 </article>
  
 <article class="second30">
  <div class="img1"><i class='fab fa-google'></i></div><br>
  <div class="tracks30">4 Tracks</div>
  <div>My name is Fasasi Sherif and I'm a front-end developer</div>
 </article> 
  
 <article class="third30">
  <div class="img1"><i class='fab fa-google'></i></div><br>
  <div class="tracks30">CODE</div>
  <div>My name is Fasasi Sherif and I'm a front-end developer</div>
 </article>
  
 <article class="fourth30">
  <div class="img1"><i class='fab fa-google'></i></div><br>
  <div class="tracks30">DEPLOY</div>
  <div>My name is Fasasi Sherif and I'm a front-end developer</div>
 </article>  
</section>

<section class="three">
   <article class="part1">
     <div class="mentor">Mentors</div>
    <div class="meet">Meet our mentors</div>
   </article>
   
<section class="four">
   <article class="part2">
    <div class="img2"><img src="../assets/images/criteria2.png" class="img02"/></div>
    <div class="train1"><div class="name">Fasasi Sherif </div><div>I'm a front-end developer</div></div>
   </article>
 
   <article class="part2">
     <div class="img2"><img src="../assets/images/criteria2.png" class="img02"/></div>
     <div class="train1"><div class="name">Fasasi Sherif </div><div>I'm a front-end developer</div></div>
   </article>
 
   <article class="part2">
     <div class="img2"><img src="../assets/images/criteria2.png" class="img02"/></div>
    <div class="train1"><div class="name">Fasasi Sherif</div><div>I'm a front-end developer </div></div>
  </article>
 
   <article class="part2">
  <div class="img2"><img src="../assets/images/criteria2.png" class="img02" /></div>
  <div class="train1"><div class="name">Fasasi Sherif</div><div>I'm a front-end developer</div></div>
 </article>
 </section>
</section>


</body>
</html>