<!DOCTYPE html>
<html lang="en">
  <head>
    <title>30 Hours</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../scss/component/Fixed_30Hours.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <section class="one30">
      <div class="thirty_30">30</div>
      <div class="hours_30">HOURS</div>
      <div class="of_30">OF...</div>
      <div class="train0_30">
        DESIGNING /BUILDING/CODING /HACKING / NETWORKING /MENTORS /COMPETITIONS
        /COFEE /TEA /FOOD /SNACKS /SWAGS
      </div>
    </section>

    <section class="two30">
      <article class="first30">
        <div class="img30">
          <img class="partners_img" src="../assets/images/target.png" />
        </div>
        <div class="tracks30">5 TRACKS</div>
      </article>

      <article class="second30">
        <div class="img30">
          <img class="partners_img" src="../assets/images/coffee.png" />
        </div>
        <div class="tracks30">4 SECTORS</div>
      </article>

      <article class="third30">
        <div class="img30">
          <img
            class="partners_img"
            src="../assets/images/git-pull-request.png"
          />
        </div>
        <div class="tracks30">CODE</div>
      </article>

      <article class="fourth30">
        <div class="img30">
          <img class="partners_img" src="../assets/images/codesandbox.png" />
        </div>
        <div class="tracks30">DEPLOY</div>
      </article>
    </section>
  </body>
</html>
