<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Top Nav</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<link rel="stylesheet" href="../scss/component/Fixed_Navbar.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>
<nav>
 <section class="navbar_first">
   <div class="navbar_ecx"><img class="navbar_0ecx1" src="../assets/ECX.svg" alt="ECX_LOGO"/></div>
   <div class="navbar_sep">
    <div class="navbar_reg1"><a class="navbar_reg4" href="#">REGISTER</a></div>
    <div class="navbar_ham"><span  class="navbar_myham">&#9776;</span></div></div>
 </section>

 <section class="navbar_second">
  <div class="navbar_about"><a href="#">Home</a></div>
  <div class="navbar_about"><a href="#">About</a></div>
  <div class="navbar_ment"><a href="#">Mentors</a></div>
  <div class="navbar_sch"><a href="#">Schedule</a></div>
  <div class="navbar_sch"><a href="#">Contact</a></div>
  <div class="navbar_reg2"><a class="navbar_reg3" href="#">REGISTER</a></div>
  <div class="navbar_log"><a class="navbar_log2" href="#">LOGIN</a></div>
 </section>
 
</nav>  
 
<script src="../js/Fixed_Navbar.js"></script>
</body>
</html>
