<footer class="footer">
  <div class="footer-top">
    <div class="ecxx">
      <img src="../assets/ECX.svg" alt="ecx" class="ecx-image" />
    </div>
    <!-- for mobile view -->
    <div class="buttons">
      <a href="/Pages/register.html"><button class="register">Register</button></a>
      <br />
      <a href="/Pages/Login.html"><button class="login">Login</button></a>
    </div>
    <p class="footer-links">
      <a href="#">Qualification Requirement</a>
      <a href="#">Mentors & Speakers</a>
      <a href="#">Terms and Condition</a>
      <a href="#">Support</a>
    </p>
  </div>
  <div class="footer-bottom">
    <div class="footer-icons">
      <!-- icons go here -->
      <a href="#"
        ><img src="../assets/images/facebook.svg" alt="facebook"
      /></a>
      <a href="#"
        ><img src="../assets/images/twitter.svg" alt="twitter"
      /></a>
      <a href="#"><img src="../assets/images/slack.svg" alt="slack" /></a>
      <a href="#"><img src="../assets/images/github.svg" alt="github" /></a>
    </div>
    <div class="footer-copyright">
      <p>copyright <span>Ecx 2020</span></p>
      <p>made with &lt; /&gt;</p>
    </div>
  </div>
</footer>
