<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <script
      src="https://kit.fontawesome.com/99da177017.js"
      crossorigin="anonymous"
    ></script> -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../scss/main.css" />
    <title>footer</title>
  </head>
  <body>
    <footer class="footer">
      <div class="footer-top">
        <div class="ecx">
          <span class="e">E</span>
          <span class="c">C</span>
          <span class="x">X</span>
        </div>
        <!-- for mobile view -->
        <div class="buttons">
          <a href="#"><button class="reg">Register</button></a>
          <br />
          <a href="#"><button class="login">Login</button></a>
        </div>
        <p class="footer-links">
          <a href="#">Qualification Requirement</a>
          <a href="#">Mentors & Speakers</a>
          <a href="#">Terms and Conditions</a>
          <a href="#">Support</a>
        </p>
      </div>
      <div class="footer-bottom">
        <div class="footer-icons">
          <!-- icons go here -->
          <a href="#">a<i class="fa fa-facebook>"></i></a>
          <a href="#">a<i class="fa fa-facebook>"></i></a>
          <a href="#">a<i class="fa fa-facebook>"></i></a>
          <a href="#">a<i class="fa fa-facebook>"></i></a>
        </div>
        <div class="footer-copyright">
          <p>copyright <span>Ecx 2020</span></p>
          <p>made with &lt; /&gt;</p>
        </div>
      </div>
    </footer>
  </body>
</html>
