<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../scss/main.css" />
    <title>goal</title>
  </head>
  <body>
    <div class="goal-container">
      <h1 class="goal-text">Goal</h1>
      <div class="goal">
        <div class="quotes">
          <h3>
            if you can’t explain it simply, you dont understand well enough
          </h3>
          <small>Albert Einstein</small>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
        <div class="main-goal">
          <h3>The hackathon goal</h3>
          <div class="stuff-container">
            <div class="idea">
              <h4 class="ideas"><span class="numbers">01</span> Idea</h4>
              <p>
                To generate high-value actionable business and product concepts.
              </p>
            </div>
            <div class="technology">
              <h4 class="ideas"><span class="numbers">02</span> Technology</h4>
              <p>
                The Hackathon is aimed at embracing technological innovation
                culture..
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
