<!DOCTYPE html>
<html lang="en">
<head>
  <title>Heading</title>
<met name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<link rel="stylesheet" href="../scss/component/heading.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>

<section class="head_section1">
  <div class="head_pic0"><img src="../assets/ECX.svg"/></div>
    <section class="head_section2">
      <div class="head_logout">LOGOUT</div>
      <div class="head_pic1">
         <div class="head_pic2"><img src="../assets/images/sample.jpg" class="head_pic02"/></div>
       </div>
    </section>
</section>

</body>
</html>





