<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="../scss/main.css" />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>

    <title>HackX</title>
  </head>

  <body>
    <main>
      <div class="hero">
        <div class="call-to-action">
          <h1>
            HACK<span class="X">X </span><br /><span class="hack"
              >HACKATHON
            </span>
          </h1>
          <span class="lte">learn | teach | explore</span><br /><br />
          <span class="quote"
            ><q
              >Building Solutions for the<br />
              future</q
            ></span
          ><br />
          <button class="learn" href="#">LEARN MORE</button><br />
          <span class="date"><span class="head">Date: </span> 15-08-2020</span
          ><br />
          <span class="venue"
            ><span class="head">Venue:</span> University of Lagos</span
          >
        </div>
        <div class="image-1">
          <img src="../assets/images/hero.png" />
        </div>
        <div class="image-2">
          <img src="../assets/images/location.png" />
        </div>
        <div class="location">
          <div class="Venue">
            <span class="head">Venue</span><br />
            University<br />
            of<br />
            Lagos
          </div>
          <div class="Date">
            <span class="head">Date</span><br />
            15th<br />
            August<br />
            2020
          </div>
        </div>
      </div>
    </main>
    <script src="js/main.js"></script>
  </body>
</html>
