<body>
  <section class="hero-main">
    <div class="hero">
      <div class="call-to-action">
        <h1>
          HACK<span class="X">X </span><br /><span class="hack"
            >HACKATHON
          </span>
        </h1>
        <span class="lte">learn | teach | explore</span><br /><br />
        <span class="quote"
          ><q
            >Building Solutions for the<br />
            future</q
          ></span
        ><br />
        <button class="learn" href="#">LEARN MORE</button><br />
        <span class="date"><span class="head">Date: </span> 15-08-2020</span
        ><br />
        <span class="venue"
          ><span class="head">Venue:</span> University of Lagos</span
        >
      </div>
      <div class="image-1">
        <img src="../assets/images/hero.png" />
      </div>
      <div class="image-2">
        <img src="../assets/images/location.png" />
      </div>
      <div class="location">
        <div class="Venue">
          <span class="hero-head">Venue</span><br />
          University<br />
          of<br />
          Lagos
        </div>
        <div class="Date">
          <span class="hero-head">Date</span><br />
          15th<br />
          August<br />
          2020
        </div>
      </div>
    </div>
  </section>
  <script src="js/main.js"></script>
</body>
