<body>
  <section class="hours-body">
    <section class="hours-one">
      <div class="hours-thirty">30</div>
      <div class="hours-hours">HOURS</div>
      <div class="hours-of">OF...</div>
      <div class="hours-train0">
        DESIGNING / BUILDING / CODING /HACKING/ <br />
        NETWORKING / MENTORS / COMPETITIONS /COFEE/ <br />
        TEA /FOOD /SNACKS /SWAGS
      </div>
    </section>

    <section class="hours-two">
      <article class="hours-first">
        <div class="hours-img1"><i class="hours-fab fab fa-google"></i></div>
        <br />
        <div class="hours-tracks">5 TRACKS</div>
      </article>

      <article class="hours-second">
        <div class="img1"><i class="hours-fab fab fa-google"></i></div>
        <br />
        <div class="hours-tracks">4 SECTORS</div>
      </article>

      <article class="hours-third">
        <div class="hours-img1"><i class="hours-fab fab fa-google"></i></div>
        <br />
        <div class="hours-tracks">CODE</div>
      </article>

      <article class="hours-fourth">
        <div class="hours-img1"><i class="hours-fab fab fa-google"></i></div>
        <br />
        <div class="hours-tracks">DEPLOY</div>
      </article>
    </section>
  </section>
  <main class="mentors-main">
    <h1 class="mentor-h1">MENTORS</h1>
    <h6 class="mentor-h6">meet our mentors</h6>
    <div class="mobile">
      <div class="mentor">
        <div class="container">
          <img src="../assets/images/image1.png" class="image" />
          <div class="content">
            <span class="mentor-name">Aniedi Udo-Obong</span><br />
            <span class="mentor-job"
              >Developer Relations Team for SSA,<br />Google</span
            >
          </div>
        </div>
        <div class="container">
          <img src="../assets/images/image2.png" class="image" />
          <div class="content">
            <span class="mentor-name">Jessica Igwe</span><br />
            <span class="mentor-job">Product Specialist, VGG</span>
          </div>
        </div>
        <div class="container">
          <img src="../assets/images/image3.png" class="image" />
          <div class="content">
            <span class="mentor-name">Maya Famodu</span><br />
            <span class="mentor-job">CEO, Ingressive Capital</span>
          </div>
        </div>
        <div class="container">
          <img src="../assets/images/image4.png" class="image" />
          <div class="content">
            <span class="mentor-name">Ola Orekunrin</span><br />
            <span class="mentor-job">Flying Doctors</span>
          </div>
        </div>
      </div>
    </div>
    <div class="desktop">
      <div class="mentor">
        <div class="container">
          <img src="../assets/images/image1.png" class="image" />
          <div class="content">
            <span class="mentor-name">Aniedi<br />Udo-Obong</span><br /><br />
            <span class="mentor-job"
              >Developer Relations<br />Team for SSA, Google</span
            >
          </div>
        </div>
        <div class="container">
          <img src="../assets/images/image2.png" class="image" />
          <div class="content">
            <span class="mentor-name">Jessica<br />Igwe</span><br /><br />
            <span class="mentor-job">Product Specialist,<br />VGG</span>
          </div>
        </div>
        <div class="container">
          <img src="../assets/omages/image3.png" class="image" />
          <div class="content">
            <span class="mentor-name">Maya<br />Famodu</span><br /><br />
            <span class="mentor-job">CEO, Ingressive<br />Capital</span>
          </div>
        </div>
        <div class="container">
          <img src="../assets/images/image4.png" class="image" />
          <div class="content">
            <span class="mentor-name">Ola<br />Orekunrin</span><br /><br />
            <span class="mentor-job">Flying Doctors</span>
          </div>
        </div>
      </div>
    </div>
  </main>
  <section class="contact-main">
    <form class="contact-form">
      <h1 class="contact-heading">CONTACT</h1>
      <h6 class="contact-details">Do you want to partner or sponsor?</h6>
      <input
        class="contact-input-text"
        type="text"
        name="name"
        placeholder="Name"
      />
      <input
        type="email"
        name="email"
        class="contact-input-text"
        placeholder="Email"
      />
      <textarea class="contact-textarea" placeholder="Message"></textarea>
      <input class="contact-submit" type="submit" value="SEND" />
    </form>
    <div class="link-to-dashboard">
      <button class="span">SEE YOU SOON!</button>
      <button class="button" href="#">go to dashboard</button>
    </div>
  </section>
</body>
