
<body>
    <main class='mentors-main'>
        <h1 class="mentor-h1">MENTORS</h1>
        <h6 class="mentor-h6">meet our mentors</h6>
        <div class="mobile">
        <div class="mentor">
            <div class="container">
                <img src="../assets/images/image1.png" class="image">
                <div class="content">
                    <span class="mentor-name">Aniedi Udo-Obong</span><br>
                    <span class="mentor-job">Developer Relations Team for SSA,<br>Google</span>
                </div>
            </div>
            <div class="container">
                <img src="../assets/images/image2.png" class="image">
                <div class="content">
                    <span class="mentor-name">Jessica Igwe</span><br>
                    <span class="mentor-job">Product Specialist, VGG</span>
                </div>
            </div>
            <div class="container">
                <img src="../assets/images/image3.png" class="image">
                <div class="content">
                    <span class="mentor-name">Maya Famodu</span><br>
                    <span class="mentor-job">CEO, Ingressive Capital</span>
                </div>
            </div>
            <div class="container">
                <img src="../assets/images/image4.png" class="image">
                <div class="content">
                    <span class="mentor-name">Ola Orekunrin</span><br>
                    <span class="mentor-job">Flying Doctors</span>
                </div>
            </div>
        </div>
        </div>
        <div class="desktop">
        <div class="mentor">
            <div class="container">
                <img src="../assets/images/image1.png" class="image">
                <div class="content">
                    <span class="mentor-name">Aniedi<br>Udo-Obong</span><br><br>
                    <span class="mentor-job">Developer Relations<br>Team for SSA, Google</span>
                </div>
            </div>
            <div class="container">
                <img src="../assets/images/image2.png" class="image">
                <div class="content">
                    <span class="mentor-name">Jessica<br>Igwe</span><br><br>
                    <span class="mentor-job">Product Specialist,<br>VGG</span>
                </div>
            </div>
            <div class="container">
                <img src="../assets/omages/image3.png" class="image">
                <div class="content">
                    <span class="mentor-name">Maya<br>Famodu</span><br><br>
                    <span class="mentor-job">CEO, Ingressive<br>Capital</span>
                </div>
            </div>
            <div class="container">
                <img src="../assets/images/image4.png" class="image">
                <div class="content">
                    <span class="mentor-name">Ola<br>Orekunrin</span><br><br>
                    <span class="mentor-job">Flying Doctors</span>
                </div>
            </div>
        </div>
        </div>
    </main>
</body>

