<nav>
  <section class="navbar_first">
    <div class="navbar_ecx">
      <a href="index.html"
        ><img class="navbar_0ecx1" src="../assets/ECX.svg" alt="ECX_LOGO"
      /></a>
    </div>
    <div class="navbar_sep">
      <div class="navbar_reg1">
        <a class="navbar_reg4" href="Pages/register.html">REGISTER</a>
      </div>
      <div class="navbar_ham"><span class="navbar_myham">&#9776;</span></div>
    </div>
  </section>

  <section class="navbar_second">
    <div class="navbar_about"><a href="Pages/About.html">About</a></div>
    <div class="navbar_ment"><a href="#mentors">Mentors</a></div>
    <div class="navbar_sch"><a href="#schedule">Schedule</a></div>
    <div class="navbar_sch"><a href="#contact">Contact</a></div>
    <div class="navbar_reg2">
      <a class="navbar_reg3" href="Pages/register.html">REGISTER</a>
    </div>
    <div class="navbar_log">
      <a class="navbar_log2" href="Pages/Login.html">LOGIN</a>
    </div>
  </section>
</nav>
