<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Top Nav</title>
<met name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<link rel="stylesheet" href=".../scss/component/Navbar.css ">
<link href="https://fonts.googleapis.com/css2?family=Baloo+Da+2&family=Dancing+Script:wght@500&family=Parisienne&family=Satisfy&display=swap" rel="stylesheet"> 
</head>

<body>
<nav>
 <section class="first">
   <div class="ecx">ECX</div>
   <div class="sep">
    <div class="reg1"><a href="#">REGISTER</a></div>
    <div class="ham"><span  class="myham">&#9776;</span></div></div>
 </section>

 <section class="second">
  <div class="about"><a href="#">About</a></div>
  <div class="ment"><a href="#">Mentors</a></div>
  <div class="sch"><a href="#">Schedule</a></div>
  <div class="reg2"><a href="#">REGISTER</a></div>
  <div class="log"><a href="#">LOGIN</a></div>
 </section>
 
</nav>  
 
<script src=".../js/Navbar.js"></script> 
 
  
</body>
</html>