<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Top Nav</title>
<met name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<link rel="stylesheet" href="../scss/component/navbar.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
<nav>
 <section class="nav-first">
   <div class="nav-ecx"><img class="nax-ecx1" src="../assets/ECX.svg" alt="ECX_LOGO"/></div>
   <div class="nav-sep">
    <div class="nav-reg1"><a class="nav-reg4" href="#">REGISTER</a></div>
    <div class="ham"><span  class="myham">&#9776;</span></div></div>
 </section>

 <section class="nav-second">
  <div class="nav-about"><a href="#">About</a></div>
  <div class="nav-mentor"><a href="#">Mentors</a></div>
  <div class="nav-schedule"><a href="#">Schedule</a></div>
  <div class="nav-schedule"><a href="#">Contact</a></div>
  <div class="nav-reg2"><a class="nav-reg3" href="#">REGISTER</a></div>
  <div class="nav-log"><a class="nav-log2" href="#">LOGIN</a></div>
 </section>
 
</nav>  
 
<script src="Navbar.js"></script> 
  
</body>
</html>
