<body>
  <nav>
    <section class="nav-first">
      <div class="nav-ecx">
        <img class="nax-ecx1" src="../assets/ECX.svg" alt="ECX_LOGO" />
      </div>
      <div class="nav-sep">
        <div class="nav-reg1"><a class="nav-reg4" href="#">REGISTER</a></div>
        <div class="ham"><span class="myham">&#9776;</span></div>
      </div>
    </section>

    <section class="nav-second">
      <div class="nav-about"><a href="/Pages/About.html">About</a></div>
      <div class="nav-mentor"><a href=".mentors-main">Mentors</a></div>
      <div class="nav-schedule"><a href="">Schedule</a></div>
      <div class="nav-schedule">
        <a href=".contact-main">Contact</a>
      </div>
      <div class="nav-reg2">
        <a class="nav-reg3" href="/Pages/register.html">REGISTER</a>
      </div>
      <div class="nav-log">
        <a class="nav-log2" href="/Pages/Login.html">LOGIN</a>
      </div>
    </section>
  </nav>
</body>
