<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>participant-info</title>
    <link rel="stylesheet" href="../scss/component/participant-info.css" type="text/css">
</head>
<body>
    <div>
        fill the following infromation as required by the organizers of hackX
    </div>
    <div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <button>next</button>
    <header>BIO</header>
    <textarea>
        write something about yourself
    </textarea>
</body>
</html>