@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Poppins:wght@500&display=swap');
@font-face{
  font-family: Monad;
  src: url(../../fonts/Monad.otf);
}   
@font-face{
  font-family:Gilroy-Bold;
  src: url(../../fonts/Gilroy-Regular.woff);
}

html, body {
	width: 100%;
	margin: 0;
}
body {
	padding: 0;
 margin-top: 9%;
}
* {
	box-sizing: border-box;
}
.arrow {
	vertical-align: center;
}

	[list]::-webkit-calendar-picker-indicator {
    display: none;
 }
a {
	text-decoration: none;
	color: black;
}
li {
	list-style: none;
}
input:valid {
	color: green;
}
input:invalid {
	color: red;
}
@media (max-width: 768px) {
	nav {
		width: 90%;
		margin: 5%;
	}
	.mobile-nav {
		width: 100%;
	}
	.desktop-nav {
		display: none;
	}
	/* ECX */
	.e {
		color: #1071F3;
	}
	.c {
		color: #E5193B;
	}
	.x {
		color: #F2A702;
	}
	.ecx {
		display: inline;
		font-family: 'Monoton', cursive;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		vertical-align: middle;
		line-height: 37px;
	}
  	.dd-content {
  		padding: 2% 0 2% 0;
    	position: absolute;
    	margin-top: 12%;
    	margin-left: -20%;
    	width: 70%;
    	background: white;
    	height: 0px;
    	overflow: hidden;
    	opacity: 0;
    	transition: 1.5s;
  	}
  	.dd:hover > .dd-content {
    	height: 150px;
    	opacity: 1;
    	box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.3);
  	}
  	.dd-content > ul > li > a {
  		margin-bottom: 4%;
  	}
  	.dd-content > a {
    	display: block;
    	padding: 5px;
    	font-family: 'Poppins', sans-serif;
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 21px;
    	text-align: center;
    	text-decoration: none;
  	}
  	.norm {
		padding:6px;
		font-family: 'Poppins', sans-serif;
	 	font-style: normal;
	 	font-weight: 600;
	 	font-size: 14px;
	 	color: black;
	 	margin-bottom: 1%;
	 	line-height: 21px;
	 	color: #262A35;
	}
	.right {
		width: 50%;
		float: right;
	}
 	.reg{
 		float: left;
 		width: 70%;
 		padding: 10px;
 		cursor: pointer;
 		border: none;
 		background: red;
		color: white;
		vertical-align: middle;
		margin: 1% 0 0.5% 0;
	}
	.menu {
		float: right;
		margin: 6%;
	}
 	.log{
 		width: 100%;
 		color: red;
		border: 1.5px solid red;
		vertical-align: middle;
	}
	a:hover {
		background: rgba(220,0,0,0.2);
		color: red;
	}
	.call-to-action {
		display: none;
	}
	.form-container {
		display: block;
		width: 80%;
		margin: 8%;
		height: auto;
		float: right;
		clear: right;
	}
	h2 {
		padding-left: 5px;
		font-family: Gilroy-Regular;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  color: #000000;
	}
	.count {
		margin-left: 10px;
		font-family: Gilroy-Regular;
  font-size: 18px;
  color: #000000;
	}
	legend {
		margin-bottom: 10px;
		font-family: Gilroy-Regular;
  font-size: 18px;
  color: #000000;
	}
	label {
		margin-top: 7%;
		font-family: Gilroy-Regular;
  font-size: 18px;
  color: #000000;
	}
	input[type="text"] {
	 /* Rectangle 63 */
	 width: 100%;
	 padding: 10px;
	 border: none;
	 height: 59px;
	 margin-bottom: 9%;
	 font-family: Gilroy-Regular;
  font-size: 14px;
 color: #232732;
 line-height: 16px;
	background: rgba(196, 196, 196, 0.2);
	border-radius: 5px;
	transition: 1s;
}
input:hover {
	border: 1px solid red;
}
input:focus {
outline: none;
}
.previous-btn {
	width: 46%;
	height: 50px;
	float: left;
	display: block;
	font-family: Gilroy-Medium;
 font-size: 18px;
	color: #FA0048;
	background: transparent;
	border: none;
	border-radius: 4px;
	transition: 1s;
}
button:focus {
	outline: none;
}
.previous-btn:hover {
	border: 0.5px solid #FA0048;
}
.signup-btn {
	width: 46%;
	height: 50px;
	float: right;
	display: block;
	font-family: Gilroy-Medium;
 font-size: 18px;
	color: white;
	background: #FA0048;
	border: none;
	border-radius: 4px;
}
.txt {
	margin-top: 4px;
	vertical-align: center;
}
.age {
	position: absolute;
	display: inline block;
	margin-top: 10%;
	right: 10%;
}
.arrow {
	margin-top: 8px;
	margin-left: 11px;
	margin-right: 11px;
}
.option {
	position: absolute;
	display: inline block;
	margin-top: 6%;
	right: 14%;
}
input[type="checkbox"] {
	background-color: red;
	width: 22px;
	height: 22px;
	border: 2px solid #FFFFFF;
}
}

/*Colors
$color-primary: #E5193B;
$color-secondary: #1071F3;
$color-tertiary:#F2A702;
$color-gray:#232732;
$color-white: #E5E5E5;
$color-dark:#262A35;
*/
@media (min-width: 769px) {
	nav	{
	 	margin-top: 4%;
		font-family:"Baloo Da 2";
		font-weight:bold;
		width:100%;
		font-family: 'Poppins', sans-serif;
	 	font-style: normal;
	 	font-weight: 600;
	 	font-size: 14px;
	 	line-height: 21px;
	 	color: #262A35;
	}
	.desktop-nav {
		width: 100%;
	}
	.mobile-nav {
		display: none;
	}
	ul {
		width: 80%;
		margin: 0 10% 0 10%;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
	}
 	ul li {
		text-align:center;
	 	color: #262A35;
		display:flex;
		justify-content: center;
		width:70%;
	}
 	.what, .de, .men, .reg, .log{
		padding:6px;
		font-family: 'Poppins', sans-serif;
	 	font-style: normal;
	 	font-weight: 600;
	 	font-size: 14px;
	 	line-height: 21px;
	 color: #262A35;
	}
 	.reg{
 		width: 70%;
		background-color:red;
		color:white;
		vertical-align: middle;
		height:40px;
	}
 	.log{
 		width: 70%;
		height: 40px;
		border:1.5px solid red;
		vertical-align: middle;
	}
 	.e {
	 	color: #1071F3;
 	}
 	.c {
	 	color: #F2A702;
 	}
 	.x {
	 	color: #E5193B;
 	}
 	.ecx {
	 	font-family: 'Monoton', cursive;
	 	font-style: normal;
	 	font-weight: normal;
	 	font-size: 28px;
	 	line-height: 37px;
 	}
 	.call-to-action {
		width: 30%;
		padding-top: 8%;
		margin-right: 2%;
		float: right;
}
.call-to-action h1 {
	width: 100%;
	height: 199px;
	float: right;
	font-family: Monad, san-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 72px;
	line-height: 72px;
	text-align: center;
	color: #000000;
}
h1 .X {
	color: #F2A702;
}
h1 .hack {
	color: #1071F3;
}
.call-to-action button {
	height: 68px;
	background: white;
	border: 1px solid #E5193B;
	box-sizing: border-box;
	border-radius: 10px;
	/* Competiton Guidlines */
line-height: 21px;
width: 60%;
margin: 20%;
}
.btn-cnt {
	font-family: Gilroy-Medium;
	font-size: 18px;
	color: #000000;
}
.btn-cnt {
	font-family: Gilroy-Medium;
	font-size: 18px;
	color: #000000;
}
.form-container {
	display: block;
	width: 52%;
	padding: 8%;
	margin: 0 8% 8% 8%;
	height: auto;
	float: left;
}
h2 {
	font-family: Gilroy-Regular;
font-size: 24px;
line-height: 28px;
font-weight: 400;
color: #000000;
}
.count {
	margin-left: 10px;
	font-family: Gilroy-Regular;
font-size: 18px;
color: #000000;
}
legend {
	margin-bottom: 10px;
	font-family: Gilroy-Regular;
font-size: 18px;
color: #000000;
}
label {
	margin-top: 7%;
	font-family: Gilroy-Regular;
font-size: 18px;
color: #000000;
}
input[type="text"] {
 /* Rectangle 63 */
 width: 100%;
 padding: 10px;
 border: none;
 height: 59px;
 margin-bottom: 9%;
 font-family: Gilroy-Regular;
font-size: 14px;
color: #232732;
line-height: 16px;
background: rgba(196, 196, 196, 0.2);
border-radius: 5px;
transition: 1s;
}
input:hover {
border: 1px solid red;
}
input:focus {
outline: none;
}
.previous-btn {
width: 46%;
height: 50px;
float: left;
display: block;
font-family: Gilroy-Medium;
font-size: 18px;
color: #FA0048;
background: transparent;
border: none;
border-radius: 4px;
transition: 1s;
}
button:focus {
outline: none;
}
.previous-btn:hover {
border: 0.5px solid #FA0048;
}
.signup-btn {
width: 46%;
height: 50px;
float: right;
display: block;
font-family: Gilroy-Medium;
font-size: 18px;
color: white;
background: #FA0048;
border: none;
border-radius: 4px;
}
.txt {
margin-top: 4px;
vertical-align: center;
}
.age {
	position: absolute;
	display: inline block;
	margin-top: 4%;
	right: 50%;
}
.arrow1 {
margin-top: 8px;
margin-left: -20px;
margin-right: 20px;
}
.arrow2 {
	margin-top: 8px;
	margin-left: 12px;
	margin-right: -20px;
	}
.option {
position: absolute;
display: inline block;
margin-top: 2.5%;
right: 52%;
}
}