@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Poppins:wght@500&display=swap');

@font-face{
  font-family: Monad;
  src: url(Monad.otf);
}   
@font-face{
  font-family:Gilroy-Regular;
  src: url(Gilroy-Regular.woff);
}
$color-r: #E5193B;
$color-w: #E5E5E5;
$fontG: "Gilroy-Regular";
$fontGM: "Gilroy-Medium";
$fontM: "Monad";
@mixin cbbbo($colorr, $bg, $borderr, $b-radius, $out) {
	color: $colorr;
	background: $bg;
	border: $borderr;
	border-radius: $b-radius;
	outline: $out;
}

html, body{
	margin: 0px;
	padding: 0px;
	height: 100%;
}
body{
	background: none;
}
.e {
	color: #1071F3;
}
.c {
	color: #F2A702;
}
.x {
	color: #E5193B;
}
.ecx {
	font-family: 'Monoton', cursive;
	font-style: normal;
	font-weight: normal;
	align-self: center;	
}
.navbarr{
	display: flex;
	width: 70%;
	height: 60px;
	justify-content: space-between;
	padding: 0px 30px;
}
.upsign{
	text-align: center;
	align-self: center;
	font-family: 'Poppins', san-serif;
}
.upsign a{
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	background: $color-r;
	padding: 6px 8px;
	color: $color-w;
	outline: none;
}
.upsign a:active{
	color: $color-r;
	background: white;
}
nav{
	display: flex;
	justify-content: flex-end;
}
.menu{
	color: rgba(0, 0, 0, 0.6);
	background: none;
	border: none;
	outline: none;
	margin-top: -50px;
	margin-right: 20px;
	height: 40px;
	font-size: 25px;
}
.menu:active{
	color: white;
	background: rgba(0, 0, 0, 0.6);
}
.menulist{
	display: block;
	position: relative;
}
.list{
	display: none;
	position: absolute;
	text-align: center;
	width: 100%;
	background: $color-w;
}
.list a{
	color: black;
	text-decoration: none;
	font-family: "Poppins", sans-serif;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.list a:active{
	color: $color-w;
	background: $color-r;
}
.abt, .men, .sch, .reg, .logg{
	padding: 8px;
}
.abt:active, .men:active, .sch:active,
.reg:active, .logg:active{
	color: $color-w;
	background: $color-r;
}
.menulist:hover .list{
	display: block;
}
.login_section{
	padding: 30px;
	margin-top: -30px;
}
.login_txt__come{
	font-size: 25px;
	font-family: $fontGM;
}
.login_txt__head{
	font-family: $fontGM;
	margin-bottom: 20%;
}
.login_main__page{
	padding-right: 8px;
}
.login_main__email, .login_main__password{
	font-family: $fontGM;
}
::placeholder{
	color: rgba(0, 0, 0, 0.3);
	font-family: $fontG;
}
.login_main__fmail, .login_main__fpword{
	display: flex;
	padding-left: 10px;
}
.login_main__fmail{
	padding-right: 3px;
}
.fa-envelope, #pass{
	color: rgba(0, 0, 0, 0.3);
	margin-top: 13px;
	margin-left: -25px;
}
#mail, #pword{
	@include cbbbo(none, rgba(196, 196, 196, 0.4), none, 10px, none);
	padding: 15px;
	width: 100%;
	margin-bottom: 4%;
	margin-left: -10px;
}
.login_btn__log{
	@include cbbbo(white, $color-r, none, 10px, none);
	padding: 10px;
	width: 100%;
	margin-bottom: 4%;
	margin-top: 8%;
	font-family: $fontGM;
}
.login_btn__log:active{
	color: $color-r;
	background: none;
}
.login_btn__arrow{
	padding-left: 20px;
}
.login_btn__sign{
	@include cbbbo($color-r, pink, none, 10px, none);
	padding: 10px;
	width: 100%;
	margin-bottom: 10%;
	font-family: $fontGM;
}
.login_btn__sign:active{
	color: pink;
	background: $color-r;
}
.checkbox_container{
 	display: block;
 	position: relative;
	padding-left: 35px;
 	margin-bottom: 12px;
	cursor: pointer;
	font-size: 14px;
	font-family: $fontG;
 	-webkit-user-select: none;
 }
 .checkbox_container input{
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0px;
	width: 0px;
 }
 .checkbox_container__checkmark{
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
 	background-color: $color-w;
 	border-radius: 5px;
 }
 .checkbox_container input:checked ~ .checkbox_container__checkmark{
	background-color: $color-r;
 }
 .checkbox_container__checkmark::after{
 	content: "";
 	position: absolute;
 	display: none;
 }
 .checkbox_container input:checked ~ .checkbox_container__checkmark::after {
 	display: block;
 }
 .checkbox_container .checkbox_container__checkmark::after{
 	margin-left: 7px;
 	margin-top: 2px;
	width: 5px;
	height: 14px;
 	border: solid white;
 	border-width: 0 1px 1px 0;
 	transform: rotate(45deg);
 }
.login_foot{
	display: none;
}
@media screen and (min-width: 768px) {
	html, body{
		margin: 0px;
		padding: 0px;
		height: 100%;
	}
	.login_foot{
		display: block;
	}
	.login_main{
		display: flex;
		justify-content: space-evenly;
		padding: 0px 100px;
	}
	.navbarr, .menulist{
		padding-top: 30px;
	}
	.navbarr{
		padding-left: 100px;
	}
	.upsign, .menu{
		display: none;
	}
	.list{
		display: flex;
		justify-content: flex-end; 
		width: 95%;
		margin-top: -80px;
		background: none;
	}
	.list a, .abt, .men, 
	.sch, .reg, .logg{
		padding: 10px;
	}
	.menulist:hover .list{
		display: flex;
	}
	.login_txt__come{
		display: none;
	}
	.login_txt__head{
		margin-bottom: 4%;
		padding-left: 100px;
	}
	#mail, #pword{
		width: 60%;
	}
	.login_btn{
		display:inline-block;
		width: 70%;
	}
	.login_btn__log, .login_btn__sign{
		width: 45%;
	}
	.login_btn__sign{
		background: white;
		padding: 11px;
	}
	.login_foot__end{
		font-family: $fontM;
		font-size: 50px;
		text-align: center;
		align-self: center;
		margin-top: -50px;
		margin-right: -60px;
	}
	.login_foot__guide{
		@include cbbbo(black, white, 1px solid $color-r, 6%, none);
		margin-left: 80px;
		padding: 15px;
		font-size: 10px;
		font-family: $fontG;
	}
	.login_foot__guide:active{
		color: $color-w;
		background: $color-r;
	}
	.login_foot__hx{
		color: #F2A702;
	}
	.login_foot__blue{
		color: #1071F3;
	}
}
