@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Poppins:wght@500&display=swap');

@font-face{
  font-family: Monad;
  src: url(Monad.otf);
}   
@font-face{
  font-family:Gilroy-Regular;
  src: url(Gilroy-Regular.woff);
}
$color-r: #E5193B;
$color-w: #E5E5E5;
$fontG: "Gilroy-Regular";
$fontM: "Monad";
@mixin cbbbo($colorr, $bg, $borderr, $b-radius, $out) {
	color: $colorr;
	background: $bg;
	border: $borderr;
	border-radius: $b-radius;
	outline: $out;
}

html, body{
	margin: 0px;
	padding: 0px;
	height: 100%;
}
body{
	background: none;
}
.e {
	color: #1071F3;
}
.c {
	color: #F2A702;
}
.x {
	color: #E5193B;
}
.ecx {
	font-family: 'Monoton', cursive;
	font-style: normal;
	font-weight: normal;
	align-self: center;	
}
.navbarr{
	display: flex;
	width: 70%;
	height: 60px;
	justify-content: space-between;
	padding: 0px 30px;
}
.upsign{
	text-align: center;
	align-self: center;
	font-family: 'Poppins', san-serif;
}
.upsign a{
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	background: $color-r;
	padding: 6px 8px;
	color: $color-w;
	outline: none;
}
.upsign a:active{
	color: $color-r;
	background: white;
}
nav{
	display: flex;
	justify-content: flex-end;
}
.menu{
	color: rgba(0, 0, 0, 0.6);
	background: none;
	border: none;
	outline: none;
	margin-top: -50px;
	margin-right: 20px;
	height: 40px;
	font-size: 25px;
}
.menu:active{
	color: white;
	background: rgba(0, 0, 0, 0.6);
}
.menulist{
	display: block;
	position: relative;
}
.list{
	display: none;
	position: absolute;
	text-align: center;
	width: 100%;
	background: $color-w;
}
.list a{
	color: black;
	text-decoration: none;
	font-family: "Poppins", sans-serif;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.list a:active{
	color: $color-w;
	background: $color-r;
}
.abt, .men, .sch, .reg, .logg{
	padding: 8px;
}
.abt:active, .men:active, .sch:active,
.reg:active, .logg:active{
	color: $color-w;
	background: $color-r;
}
.menulist:hover .list{
	display: block;
}
.one{
	padding: 30px;
	margin-top: -30px;
}
.come{
	font-size: 25px;
	font-weight: bold;
	font-family: $fontG;
}
.head{
	font-family: $fontG;
	margin-bottom: 20%;
}
label[for=mail], label[for=pword]{
	font-family: $fontG;
}
::placeholder{
	color: rgba(0, 0, 0, 0.3);
}
i{
	margin-left: -30px;
	color: rgba(0, 0, 0, 0.3);
}
input[type=text], input[type=password] {
	@include cbbbo(none, rgba(196, 196, 196, 0.4), none, 10px, none);
	padding: 10px;
	width: 90%;
	margin-bottom: 4%;
}
.log{
	@include cbbbo(white, $color-r, none, 10px, none);
	padding: 10px;
	width: 97%;
	margin-bottom: 4%;
	margin-top: 8%;
	font-family: $fontG;
}
.log:active{
	color: $color-r;
	background: none;
}
.arrow{
	padding-left: 20px;
}
.sign{
	@include cbbbo($color-r, pink, none, 10px, none);
	padding: 10px;
	width: 97%;
	margin-bottom: 10%;
	font-family: $fontG;
}
.sign:active{
	color: pink;
	background: $color-r;
}
label[for=check]{
	font-family: $fontG;
	font-size: 14px;
}
.foot{
	display: none;
}
@media screen and (min-width: 768px) {
	html, body{
		margin: 0px;
		padding: 0px;
		height: 100%;
	}
	.foot{
		display: block;
	}
	.all{
		display: flex;
		justify-content: space-evenly;
		padding: 0px 100px;
	}
	.navbarr, .menulist{
		padding-top: 30px;
	}
	.navbarr{
		padding-left: 100px;
	}
	.upsign, .menu{
		display: none;
	}
	.list{
		display: flex;
		justify-content: flex-end; 
		width: 95%;
		margin-top: -80px;
		background: none;
	}
	.list a, .abt, .men, 
	.sch, .reg, .logg{
		padding: 10px;
	}
	.menulist:hover .list{
		display: flex;
	}
	.come{
		display: none;
	}
	.head{
		margin-bottom: 4%;
		padding-left: 100px;
	}
	input[type=text], input[type=password], {
		width: 60%;
	}
	.btn{
		display:inline-block;
		width: 71%;
	}
	.log, .sign{
		width: 44%;
	}
	.sign{
		margin-top: 0px;
		background: white;
	}
	input[type=checkbox], label[for=check] {
		display: flex;
	}
	label[for=check] {
		margin-left: 25px;
	}
	input[type=checkbox] {
		margin-bottom: -15px;
	}
	.end{
		font-family: $fontM;
		font-size: 50px;
		text-align: center;
		align-self: center;
		margin-top: -50px;
		margin-right: -60px;
	}
	.guide{
		@include cbbbo(black, white, 1px solid $color-r, 6%, none);
		margin-left: 80px;
		padding: 15px;
		font-size: 10px;
		font-family: $fontG;
	}
	.guide:active{
		color: $color-w;
		background: $color-r;
	}
	.hx{
		color: #F2A702;
	}
	.blue{
		color: #1071F3;
	}
}
