@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Poppins:wght@500&display=swap');

@font-face{
  font-family: Monad;
  src: url(/storage/emulated/0/Download/Monad.otf);
}   
@font-face{
  font-family:Gilroy-Regular;
  src: url(/storage/emulated/0/Download/Gilroy-Regular.woff);
}

$color-primary: #E5193B;
$color-grey: #232732;
$color-white: #E5E5E5;
$default-font-family:'Poppins',
sans-serif;
$default-font-family-detail: 'Gilroy-Regular',
serif;

html, body{
	margin: 0px;
	padding: 0px;
	height: 100%;
}
body{
	background: $color-white;
}
.schedule_head{
	text-align: center;
	letter-spacing: 2px;
	font-size: 30px;
	padding-top: 6px;
	font-family: $default-font-family;
	color: $color-primary;
}
.schedule_all{
	padding: 0px 10px;
	display: flex;
	margin-top: 30px;
	margin-left: 10px;
}
.schedule_txt{
	padding: 0px 20px;
}
.schedule_txt__head{
	font-size: 18px;
	color: $color-primary;
	font-family: $default-font-family-detail;
}
#schedule_txt__paragraph, #schedule_txt__short,
#schedule_txt__demo, #schedule_txt__on{
	font-size: 14px;
	margin-top: 6px;
	font-family: $default-font-family-detail;
	width: 80%;
	margin-bottom: 30px;
}
.line, .tline{
	width: 2px;
	height: 30px;
	background: $color-primary;
	margin-left: 6px;
}
.box, .tbox{
	width: 14px;
	height: 14px;
	background: $color-primary;
	margin-top: 6px;
}
.schedule_shape{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: -40px 0px 20px 0px;
	padding: 0px 0px;
}
@media screen and (min-width: 768px) {
	html{
		margin: 0px;
		padding: 0px;
		height: 100%;
	}
	body{
		background: $color-grey;
	}
	#schedule_txt__paragraph, #schedule_txt__short,
	#schedule_txt__demo, #schedule_txt__on{
		color: #ffffff;
	}
	.schedule_head{
		font-size: 36px;
		margin-left: 1%;
	}
	.schedule_all{
		display: block;
		padding: 0px 110px;
	}
	.schedule_txt{
		display: flex;
		flex-direction: column;
		margin-top: -670px;
	}
	.right{
		margin-left: 55%;
	}
	#schedule_txt__short, #schedule_txt__demo{
		width: 40%;
	}
	#schedule_txt__paragraph, #schedule_txt__short,
	#schedule_txt__demo, #schedule_txt__on{
		margin-top: 0px;
	}
	.schedule_shape{
		padding: 10px 0px;
		margin-left: 50%;
	}
	#schedule_shape__combineShape{
		margin-bottom: 75px;
	}
	.line{
		margin: 0px 0px -27px -25px;
		transform: rotate(-90deg);
	}
	.tline{
		margin: 0px 0px -27px 35px;
		transform: rotate(90deg);
	}
	.long{
		width: 2px;
		height: 900px;
		margin-left: 2%;
		margin-top: -880px;
		background: $color-primary;
	}
}