* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', sans-serif;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.container-404 {
    width: 80%;
    margin: auto;
    text-align: center;
}

.container-404 img {
    width: 100%;
}

p.text-404 {
    text-align: center;
    font-size: 20px;
}

a.link-return button {
    margin-top: 40px;
    font-family: inherit;
    padding: 10px;
    font-weight: 600;
    color: #ffffff;
    background-color: #1071F3;
    border-radius: 5px;
    cursor: pointer;
    transition: all .5s ease;
}

a.link-return button:focus {
    outline: none;
}

a.link-return button:hover {
    background-color: rgba(16, 113, 243, .8);
}

@media screen and (max-width: 768px) {
    p.text-404 {
        font-size: 14px;
    }

    body {
        display: block;
        padding-top: 100px;
        height: auto;
    }
}