.hours-body {
	padding: 0;
	margin: 0;
	font-family: "poppins";


}

.hours-fab {
	font-size: 40px;
	color: #E5193B;
}

.hours-one {
	padding: 10px;
}

.hours-one,
.hours-first,
.hours-second,
.hours-third,
.hours-fourth,
.hours-three,
.hours-train1 {
	text-align: center;
}

.hours-one,
.hours-thirty,
.hours-hours,
.hours-of,
.hours-train0,
.hours-mentor,
.hours-meet,
.hours-name {
	font-weight: bold;
	margin: auto;
}

.hours-thirty {
	font-size: 6rem;
	color: #E5193B;
}

.hours-hours,
.hours-of {
	font-size: 25px;
}

.hours-first,
.hours-second,
.hours-third,
.hours-fourth {
	margin-top: 1pc;
	width: 50%;
	padding: 0;
	margin: 1pc auto 3pc auto;
}

.hours-tracks {
	font-size: 25px;
	margin-left: 2rem;
	margin-bottom: .8pc;
}

.hours-part1,
.hours-part2 {
	padding: 10px;
	margin: 1pc auto auto auto;
}

.hours-part2 {
	width: 60%;
	margin-bottom: 3.5pc;
}

.hours-mentor {
	font-size: 30px;
	color: #E5193B;
}

.hours-img2 {
	width: 100%;
	margin: auto;
}

.hours-img {
	width: 60%;
}

.hours-img02 {
	width: 100%;
}

.hours-train1 {
	width: 90%;
	margin: auto;
}

.hours-name {
	font-size: 16px;
	margin: auto auto 1.5pc auto;
}



@media (min-width:768px) {
	.hours-body {
		overflow-x: hidden;
	}

	.hours-tracks {
		font-size: 20px;
		margin-left: 1rem;
		margin-bottom: .8pc;
	}

	.hours-train0 {
		width: 40%;
	}

	.hours-two {
		width: 75%;
		display: flex;
		justify-content: space-evenly;
		align-self: center;
		margin: auto;
	}

	.hours-first,
	.hours-second,
	.hours-third,
	.hours-fourth {
		width: 17%;
		padding: 18px;
	}

	.hours-part2 {
		display: flex;
		align-self: center;
		width: 40%;
		margin-bottom: .5pc;
	}

	.hours-img02 {
		width: 100%;
	}

	.hours-second {
		margin: 1pc auto;
	}

	.hours-train1 {
		align-self: center;
		padding-left: 10px;
		widt: 150%;
	}


	.hours-four {
		width: 70%;
		display: flex;
		flex-wrap: wrap;
		margin: -1.7pc auto auto auto;
	}

	.hours-name {
		margin-bottom: .5pc;
	}
}
