@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Poppins:wght@500&display=swap");

@font-face {
  font-family: Monad;
  src: url(../../../fonts/Monad.otf);
}

@font-face {
  font-family: Gilroy-Bold;
  src: url(../../fonts/Gilroy-Regular.woff);
}


.norm {
  padding: 6px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.15vw;
  color: black;
  margin-bottom: 1%;
  line-height: 21px;
  color: #262a35;
}



.image-1,
.image-2,
.location {
  display: none;
}

.call-to-action {
  width: 80%;
  padding: 6% 5% 5% 7%;
  float: left;
}

.call-to-action h1 {
  width: 100%;
  text-align: left;
  font-family: Monad, san-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12.5vw;
  color: #000000;
}

.lte {
  margin-top: 2%;
  padding-left: 2%;
  font-size: 4.2vw;
  text-align: left;
  font-family: Poppins, serif;
  font-weight: 500;
  color: #000000;
  padding-bottom: 3%;
}

.quote {
  text-align: left;
  font-family: Poppins, serif;
  font-weight: 500;
  font-size: 5vw;
  color: #f2a702;
}

.learn {
  width: 60%;
  height: 38px;
  margin-top: 15%;
  margin-bottom: 0;
  margin-right: 4%;
  display: inline block;
  font-family: Monad, sans-serif;
  font-size: 5vw;
  color: white;
  background: #262a35;
  border: none;
  border-radius: 3px;
  margin-bottom: 15%;
  opacity: 0.8;
  transition: 1s;
}

.learn:hover {
  width: 62%;
  height: 40px;
  opacity: 1;
}

.date,
.venue {
  margin-top: 8%;
  font-family: Gilroy-Bold, sans-serif;
  font-size: 5.6vw;
  line-height: 2.8;
  font-weight: 400;
  color: #000000;
}

.hero-head {
  color: #e5193b;
  font-size: 6vw;
}

div img {
  float: right;
}


.image-1,
.image-2,
.location {
  display: none;
}

.call-to-action {
  width: 80%;
  padding: 6% 5% 5% 7%;
  float: left;
}

.call-to-action h1 {
  width: 100%;
  text-align: left;
  font-family: Monad, san-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11.7vw;
  color: #000000;
}

/*.register {
		width: 40%;
		height: 40px;
		margin-top: 0;
		margin-bottom: 0;
		margin-left: 20%;
		margin-right: 4%;
		display: inline block;
		font-family: Gilroy-Medium;
		font-size: 15px;
		color: white;
		background: #FA0048;
		border: none;
		border-radius: 3px;
	}*/
.hero-main {
  width: 90%;
  margin: 5%;
}

.lte {
  margin-top: 2%;
  padding-left: 2%;
  font-size: 3.1vw;
  text-align: left;
  font-family: Poppins, serif;
  font-weight: 500;
  color: #000000;
  padding-bottom: 3%;
}

.quote {
  text-align: left;
  font-family: Poppins, serif;
  font-weight: 500;
  font-size: 4vw;
  color: #f2a702;
}

.learn {
  width: 49%;
  height: 40px;
  margin-top: 15%;
  margin-bottom: 0;
  margin-right: 4%;
  display: inline block;
  font-family: Monad, sans-serif;
  font-size: 4vw;
  color: white;
  background: #262a35;
  border: none;
  border-radius: 3px;
  margin-bottom: 15%;
  opacity: 0.8;
  transition: 1s;
}

.learn:hover {
  width: 50%;
  height: 43px;
  opacity: 1;
}

.date,
.venue {
  margin-top: 8%;
  font-family: Gilroy-Bold, sans-serif;
  font-size: 5vw;
  line-height: 1.9;
  font-weight: 400;
  color: #000000;
}

.hero-head {
  color: #e5193b;
  font-size: 5.3vw;
}

div img {
  float: right;
}





.image-1,
.image-2,
.location {
  display: none;
}

.call-to-action {
  width: 80%;
  padding: 6% 5% 5% 7%;
  float: left;
}

.call-to-action h1 {
  width: 100%;
  text-align: left;
  font-family: Monad, san-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10vw;
  color: #000000;
}

.hero-main {
  width: 90%;
  margin: 5%;
}

.lte {
  margin-top: 2%;
  padding-left: 2%;
  text-align: left;
  font-family: Poppins, serif;
  font-weight: 500;
  font-size: 3.5vw;
  color: #000000;
  padding-bottom: 3%;
}

.quote {
  text-align: left;
  font-family: Poppins, serif;
  font-weight: 500;
  font-size: 4.5vw;
  color: #f2a702;
}

.learn {
  width: 46%;
  height: 46px;
  margin-top: 10%;
  margin-right: 4%;
  display: inline block;
  font-family: Monad, sans-serif;
  font-size: 15px;
  color: white;
  background: #262a35;
  border: none;
  border-radius: 3px;
  margin-bottom: 15%;
  opacity: 0.8;
  transition: 1s;
}

.learn:hover {
  width: 48%;
  height: 49px;
  opacity: 1;
}

.date,
.venue {
  margin-top: 3%;
  font-family: Gilroy-Regular;
  line-height: 1.6;
  font-size: 5vw;
  font-weight: 400;
  color: #000000;
}

.hero-head {
  color: #e5193b;
}

div img {
  float: right;
}




@media (min-width: 769px) {


  .hero {
    width: 80%;
    margin: 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: repeat(2, 1fr);
    grid-gap: none;
  }

  .hero div:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .hero div:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .hero div:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .hero div:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .Venue {
    width: 50%;
    text-align: left;
    float: left;
    font-family: Gilroy-Bold, sans-serif;
    font-size: 1.5vw;
    line-height: 1.6;
    font-weight: 540;
    color: #000000;
  }

  .hero-head {
    color: #e5193b;
    font-size: 1.6vw;
    font-weight: 700;
    font-family: Gilroy-Bold, sans-serif;
  }

  .Date {
    width: 50%;
    float: right;
    text-align: left;
    font-family: Gilroy-Bold, sans-serif;
    font-size: 1.5vw;
    line-height: 1.6;
    font-weight: 540;
    color: #000000;
  }

  .menu {
    display: none;
  }

  .image-1>img {
    float: right;
  }

  .image-1 {
    display: inline-block;
    padding-right: 6%;
  }

  .location {
    display: block;
  }

  .image-2 {
    display: inline-block;
    margin-top: 3%;
    float: left;
  }

  .location {
    padding-top: 15%;
    padding-left: 16%;
    margin-top: 3%;
  }

  .image-1,
  .location {
    float: right;
  }

  .call-to-action {
    padding: 0 2% 0 5%;
    float: left;
  }

  .call-to-action h1 {
    width: 100%;
    margin-bottom: 3%;
    text-align: left;
    font-family: Monad, san-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 4.5vw;
    color: #000000;
  }


  .hero-main {
    width: 90%;
    margin: 5%;
  }

  .lte {
    padding-left: 2%;
    font-size: 1.4vw;
    text-align: left;
    font-family: Poppins, serif;
    font-weight: 500;
    color: #000000;
    padding-bottom: 3%;
  }

  .quote {
    text-align: left;
    font-family: Poppins, serif;
    font-weight: 500;
    font-size: 1.9vw;
    color: #f2a702;
  }

  .learn {
    display: block;
    width: 34%;
    height: 40px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 4%;
    font-family: Monad, sans-serif;
    font-size: 15px;
    color: white;
    background: #262a35;
    border: none;
    border-radius: 3px;
    opacity: 0.8;
    transition: 1s;
  }

  .learn:hover {
    opacity: 1;
    width: 35%;
    height: 42px;
  }

  .date,
  .venue {
    display: none;
  }

  .btn-cnt {
    font-family: Gilroy-Medium;
    font-size: 18px;
    color: #000000;
  }
}
