@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Poppins:wght@500&display=swap');

html,
body {
    width: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.mentors-main {
    margin: 2rem 0;
}

@media (max-width: 300px) {
    .mentor-h1 {
        text-align: center;
        font-size: 13vw;
        font-weight: 600;
        color: #E5193B;
        font-family: Poppins, sans-serif;
    }

    .mentor-h6 {
        font-size: 7vw;
        font-weight: 600;
        color: black;
        margin-top: 0;
        text-align: center;
        font-family: Poppins, sans-serif;
    }

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .mentor {
        width: 100%;
        margin: 2% 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .container {
        width: 80%;
        margin-bottom: 10%;
        display: flex;
        flex-direction: column;
    }

    .content {
        width: 100%;
        height: auto;
        border: none;
        float: right;
        padding-top: 1.6%;
    }

    .content span {
        text-align: left;
    }

    .mentor-name {
        font-size: 8vw;
        font-weight: 600;
        color: black;
        line-height: 2;
        font-family: Poppins, sans-serif;
    }

    .mentor-job {
        font-size: 6vw;
        font-weight: 400;
        color: black;
        line-height: 0.2;
        font-family: Poppins, sans-serif;
    }

    .image {
        width: 100%;
        height: auto;
        border: none;
    }
}

@media (min-width: 301px) and (max-width: 500px) {
    .mentor-h1 {
        text-align: center;
        font-size: 9vw;
        font-weight: 600;
        color: #E5193B;
        font-family: Poppins, sans-serif;
    }

    .mentor-h6 {
        font-size: 5vw;
        font-weight: 600;
        color: black;
        margin-top: 0;
        text-align: center;
        font-family: Poppins, sans-serif;
    }

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .mentor {
        width: 100%;
        margin: 2% 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .container {
        width: 80%;
        margin-bottom: 10%;
        display: flex;
        flex-direction: column;
    }

    .content {
        width: 100%;
        height: auto;
        border: none;
        float: right;
        padding-top: 1.6%;
    }

    .content span {
        text-align: left;
    }

    .mentor-name {
        font-size: 5.7vw;
        font-weight: 600;
        color: black;
        line-height: 2;
        font-family: Poppins, sans-serif;
    }

    .mentor-job {
        font-size: 3.8vw;
        font-weight: 400;
        color: black;
        line-height: 0.5;
        font-family: Poppins, sans-serif;
    }

    .image {
        width: 100%;
        height: auto;
        border: none;
    }
}

@media (min-width: 501px) and (max-width: 768px) {
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .mentor-h1 {
        text-align: center;
        font-size: 5vw;
        font-weight: 600;
        color: #E5193B;
        font-family: Poppins, sans-serif;
    }

    .mentor-h6 {
        margin-top: -1%;
        font-size: 2.3vw;
        font-weight: 600;
        color: black;
        text-align: center;
        font-family: Poppins, sans-serif;
    }

    .mentor {
        width: 78%;
        margin: 2% 11%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 35px;
    }

    .content {
        width: 100%;
        height: auto;
        border: none;
        float: right;
        padding-top: 1.6%;
    }

    .content span {
        text-align: left;
    }

    .mentor-name {
        font-size: 2.5vw;
        line-height: 1.5;
        font-weight: 600;
        color: black;
        font-family: Poppins, sans-serif;
    }

    .mentor-job {
        font-size: 1.9vw;
        font-weight: 500;
        color: black;
        line-height: 1.7;
        font-family: Poppins, sans-serif;
    }

    .image {
        width: 100%;
        height: 200px;
        border: none;
    }
}

@media (min-width: 769px) and (max-width: 1099px) {
    .mentor-h1 {
        text-align: center;
        font-size: 2.7vw;
        font-weight: 600;
        color: #E5193B;
        font-family: Poppins, sans-serif;
    }

    .mentor-h6 {
        margin-top: -1%;
        font-size: 1.5vw;
        font-weight: 600;
        color: black;
        text-align: center;
        font-family: Poppins, sans-serif;
    }

    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }

    .mentor {
        width: 80%;
        margin: 2% 10%;
        height: 380px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 35px;
    }

    .content {
        width: 44%;
        height: 100%;
        border: none;
        float: right;
        padding-top: 1.6%;
        padding-left: 5%;
    }

    .content span {
        text-align: left;
    }

    .mentor-name {
        font-size: 2.3vw;
        line-height: 1.5;
        font-weight: 600;
        color: black;
        font-family: Poppins, sans-serif;
    }

    .mentor-job {
        font-size: 1.6vw;
        font-weight: 500;
        color: black;
        line-height: 1.7;
        font-family: Poppins, sans-serif;
    }

    .image {
        width: 56%;
        height: 100%;
        border: none;
    }
}

@media (min-width: 1100px) {
    .mentor-h1 {
        text-align: center;
        font-size: 2.7vw;
        font-weight: 600;
        color: #E5193B;
        font-family: Poppins, sans-serif;
    }

    .mentor-h6 {
        margin-top: -1%;
        font-size: 1.5vw;
        font-weight: 600;
        color: black;
        text-align: center;
        font-family: Poppins, sans-serif;
    }

    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }

    .mentor {
        width: 68%;
        margin: 2% 16%;
        height: 500px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 35px;
    }

    .content {
        width: 45%;
        height: 100%;
        border: none;
        float: right;
        padding-top: 1.6%;
        padding-left: 5%;
    }

    .content span {
        text-align: left;
    }

    .mentor-name {
        font-size: 1.8vw;
        line-height: 1.5;
        font-weight: 600;
        color: black;
        font-family: Poppins, sans-serif;
    }

    .mentor-job {
        font-size: 1.1vw;
        font-weight: 500;
        color: black;
        line-height: 1.7;
        font-family: Poppins, sans-serif;
    }

    .image {
        width: 55%;
        height: 100%;
        border: none;
    }
}
