@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@font-face {
    font-family: Monad;
    src: url(../../fonts/Monad.otf);
}
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
html, body {
    width: 100%;
    margin: 0;
}
* {
    box-sizing: border-box;
}
button, input, textarea {
    outline: none;
    border: none;
}
button:hover, input:hover, textarea:hover {
    outline: none;
    border: none;
}
.dashboard-submission-form {
    width: 100%;
    margin: 0;
    background: #E5E5E5;
}
.dashboard-submission-form .heading {
    width: 100%;
    margin: 0;
    background: transparent;
    padding: 4% 4% 1.5% 4%;
}
.dashboard-submission-form .heading .headForm {
    font-family: 'Nunito Sans', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;    
    color: #0080FB;    
}
.dashboard-submission-form .heading .headMain {
    width: 100%;
    margin: 2% 0 7% 0;
    text-align: center;
}
.dashboard-submission-form .heading .headMain .Hd {
    font-family: 'Monad', Georgia, Times, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 72px;
    color: #0080FB;
    margin-bottom: 2%;
}
.dashboard-submission-form .heading .headMain .Hd .X {
    color: rgb(255,206,0);
}
.dashboard-submission-form .heading .headMain .cnt {
    font-family: 'Nunito Sans', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #000000;   
}
.dashboard-submission-form .heading .Ul .List {
    font-family: 'Nunito Sans', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px; 
    color: #000000;  
    margin-left: 8.5%;
    list-style: url();
}
.dashboard-submission-form .subForm {
    width: 100%;
    margin: 0;
    background: #FFFFFF;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.dashboard-submission-form .subForm .mobileHead {
    display: none;
}
.dashboard-submission-form .subForm .inputCnt {
    margin: 5% 8% 0 8%;
}
.dashboard-submission-form .subForm .inputCnt .title {
    display: flex;
    flex-direction: row;
    margin-left: 2.5%;
    padding: 0;
    height: auto;
}
.dashboard-submission-form .subForm .inputCnt .title .vertrule {
    border: 2px solid #1071F3;
    height: auto;
    margin: 0;
    top: 0;
    visibility: hidden;
}
.dashboard-submission-form .subForm .inputCnt .title .vr1 {
    visibility: visible;
}
.dashboard-submission-form .subForm .inputCnt .title .titleName {
    font-family: 'Nunito Sans', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 1000;
    font-size: 28px;
    margin: .5% 3%;
    color: rgba(0, 0, 0, 0.7);
}
.dashboard-submission-form .subForm .inputCnt .info {
    font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 1000;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.4);
    display: block;
    margin: 1% 5.5%;
}
.dashboard-submission-form .subForm .inputCnt .inputCount {
    font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    font-style: normal;
    font-weight: 1000;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.4);
    vertical-align: middle;
}
.dashboard-submission-form .subForm .inputCnt input::placeholder,
.dashboard-submission-form .subForm .inputCnt .submissionInputTextarea::placeholder {
    font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 1000;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.4);
}
.dashboard-submission-form .subForm .inputCnt input[type="text"],
.dashboard-submission-form .subForm .inputCnt  input[type="url"],
.dashboard-submission-form .subForm .inputCnt .submissionInputTextarea {
    width: 88%;
    overflow: hidden;
    display: inline-block;
    margin-left: 1.2%;
    background: whitesmoke;
    border-radius: 5px;
    padding: 1%;
    font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 1000;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.4);
    resize: none;
}
.dashboard-submission-form .subForm .inputCnt input[type="text"]:hover,
.dashboard-submission-form .subForm .inputCnt  input[type="url"]:hover,
.dashboard-submission-form .subForm .inputCnt .submissionInputTextarea:hover {
    border: 1.5px solid #1071F3;
    padding: .85%;
} 
.dashboard-submission-form .subForm .inputCnt .imgCnt {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.dashboard-submission-form .subForm .inputCnt .imgCnt .imageDialogContainer {
    width: 260px;
    height: 360px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    margin: 2% 1.5%;
    font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.4vw;
}
.dashboard-submission-form .subForm .inputCnt .imgCnt .imgDiCont1, 
.dashboard-submission-form .subForm .inputCnt .imgCnt .imgDiCont2, 
.dashboard-submission-form .subForm .inputCnt .imgCnt .imgDiCont3, 
.dashboard-submission-form .subForm .inputCnt .imgCnt .imgDiCont4 {
    display: none;
}
.dashboard-submission-form .subForm .inputCnt .imgCnt .imageDialogContainer .imageUpload {
    width: inherit;
    height: auto;
    background-color: white;
    color: #336699;
    background: none;
    font-size: inherit;
    font-family: inherit;
    outline: none;
    display: block;
    cursor: pointer;
    border-radius: 5px;
}
.dashboard-submission-form .subForm .inputCnt .imgCnt .imageDialogContainer .imageFile {
    display: none;
}
.dashboard-submission-form .subForm .inputCnt .imgCnt .imageDialogContainer .imagePreview {
    display: none;
    width: inherit;
    height: 300px;
    overflow: hidden;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.01);
    border-radius: 5px;
}
.dashboard-submission-form .subForm .inputCnt .imgCnt .imageDialogContainer .imageName {
    display: none;
    color: #1071F3;
    margin: 2% 0;
    font-size: 18px;
}
.dashboard-submission-form .subForm .inputCnt .imgCnt .imageDialogContainer .deleteImage {
    display: none;
    width: 100%;
    border: none;
    color: white;
    background: #1071F3;
    cursor: pointer;
    margin: 3% 0;
    padding: 3% 0;
    border-radius: 5px;
    opacity: 0.7;
    transition: 0.8s;
}
.dashboard-submission-form .subForm .inputCnt .imgCnt .imageDialogContainer .deleteImage:hover {
    opacity: 1;
}
.dashboard-submission-form .submitBtn {
    width: 100%;
    margin: 0;
    text-align: center;
    padding: 2%;
}
.dashboard-submission-form .submitBtn .submit {
    width: 280px;
    height: 55px;    
    background: #1071F3;
    border-radius: 5px;  
    cursor: pointer;
    font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 1000;
    font-size: 14px;
    color: white;
}
.dashboard-submission-form .submitBtn .submit:disabled {
    background: rgba(16, 113, 243, 0.3);
    color: white;
    font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 1000;
    font-size: 14px;
    cursor: auto;
}
@media (min-width: 1px) and (max-width: 299px) {
    nav, .hamburger, .dashboard-submission-form {
        display: none;
    }
    body {
        content: "";
        background: #E5E5E5;
        width: 100%;
        height: 100%;
        margin: 0;    
    }
    body:after {
        display: flex; 
        text-align: left;
        padding-top: 20%;
        color: red;
        background: white;
        margin: 40% 7%;
        font-weight: 1000;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16vw;
        padding: 5%;
        content: "Oops Screen size not supported";
    }
}
@media (min-width: 300px) and (max-width: 400px) {
    .dashboard-submission-form {
        background: #E5E5E5;
        width: 100%;
        height: auto;
        margin: 0;
        padding-top: 5%;
    }
    .dashboard-submission-form .heading {
        display: none;
    } 
    .dashboard-submission-form .subForm .mobileHead {
        display: block;
        margin: 3% 10% 0 10%;
        
        
    }
    .dashboard-submission-form .subForm .mobileHead .headTitle {
        color: #0080FB;
        font-family: 'Nunito Sans', Tahoma, Geneva, Verdana, sans-serif;
        font-style: normal;
        font-weight: 1000;
        font-size: 8vw;
        line-height: 38px;
        margin: 3% 0;
    }
    .dashboard-submission-form .subForm .mobileHead .cnt {
        font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
        font-style: normal;
        font-weight: 1000;
        color: rgba(0, 0, 0, 0.4);
        font-size: 4.5vw;
        margin: 4% 0 6% 0;
    }
    .dashboard-submission-form .subForm .mobileHead .horLine {
        border: 1px solid rgba(0, 0, 0, 0.2);
    }
    .dashboard-submission-form .subForm {
        width: 86%;
        margin: 0 7%;
        background: #FFFFFF;
        padding: 0;
        display: flex;
        border-radius: 5px;
        flex-direction: column;
        padding-bottom: 3%;
    }
    .dashboard-submission-form .subForm .inputCnt {
        margin: 10% 8% 0 8%;
    }
    .dashboard-submission-form .subForm .inputCnt .title {
        margin-left: 2.5%;
    }
    .dashboard-submission-form .subForm .inputCnt .title .titleName {
        font-size: 6.5vw;
        margin: 1% 3%;
    }
    .dashboard-submission-form .subForm .inputCnt .info {
        font-size: 4vw;
        margin: 4% 5.5%;
    }
    .dashboard-submission-form .subForm .inputCnt .inputCount {
        font-size: 3.8vw;
    }
    .dashboard-submission-form .subForm .inputCnt input::placeholder {
        font-size: 3.8vw;
    }
    .dashboard-submission-form .subForm .inputCnt input[type="text"],
    .dashboard-submission-form .subForm .inputCnt  input[type="url"],
    .dashboard-submission-form .subForm .inputCnt .submissionInputTextarea {
        width: 96%;
        display: block;
        margin: 2%;
        padding: 5%;
        font-size: 4vw;
    }
    .dashboard-submission-form .subForm .inputCnt input[type="text"]:hover,
    .dashboard-submission-form .subForm .inputCnt  input[type="url"]:hover,
    .dashboard-submission-form .subForm .inputCnt .submissionInputTextarea:hover {
        border: 1.5px solid #1071F3;
        margin: 2%;
        padding: 5%;
    } 
    .dashboard-submission-form .submitBtn .submit {
        width: 220px;
        height: 45px;    
        font-size: 4vw;
        padding: 4%;
        margin: 4%;
    }
    .dashboard-submission-form .submitBtn .submit:disabled {
        font-size: 4vw;
        padding: 3%;
    }
    .dashboard-submission-form .subForm .inputCnt .imgCnt .imageDialogContainer {
        width: 210px;
        height: 280px;
    }
    .dashboard-submission-form .subForm .inputCnt .imgCnt .imageDialogContainer .imagePreview {
        height: 190px;
    }
}
@media (min-width: 401px) and (max-width: 570px) {
    .dashboard-submission-form .subForm {
        padding-bottom: 3%;
    }
    .dashboard-submission-form .subForm .inputCnt .title {
        margin-left: 2%;
    }
    .dashboard-submission-form .subForm .inputCnt .title .titleName {
        font-size: 4.4vw;
        margin: 1% 3%;
    }
    .dashboard-submission-form .subForm .inputCnt .info {
        font-size: 2.5vw;
        margin: 2% 5.5%;
    }
    .dashboard-submission-form .subForm .inputCnt .inputCount {
        font-size: 3vw;
    }
    .dashboard-submission-form .subForm .inputCnt input::placeholder {
        font-size: 3vw;
    }
    .dashboard-submission-form .subForm .inputCnt input[type="text"],
    .dashboard-submission-form .subForm .inputCnt  input[type="url"],
    .dashboard-submission-form .subForm .inputCnt .submissionInputTextarea {
        width: 90%;
        display: block;
        margin: 5%;
        padding: 3%;
        font-size: 3vw;
    }
    .dashboard-submission-form .subForm .inputCnt input[type="text"]:hover,
    .dashboard-submission-form .subForm .inputCnt  input[type="url"]:hover,
    .dashboard-submission-form .subForm .inputCnt .submissionInputTextarea:hover {
        border: 1.5px solid #1071F3;
        margin: 5%;
        padding: 3%;
    } 
    .dashboard-submission-form .submitBtn .submit {
        width: 280px;
        height: 50px;    
        font-size: 3vw;
        padding: 3%;
        margin: 3%;
    }
    .dashboard-submission-form .submitBtn .submit:disabled {
        font-size: 3vw;
    }
    .dashboard-submission-form .subForm .inputCnt .imgCnt .imageDialogContainer {
        width: 270px;
        height: 340px;
    }
    .dashboard-submission-form .subForm .inputCnt .imgCnt .imageDialogContainer .imagePreview {
        height: 230px;
    }
}
@media (min-width: 570px) and (max-width: 768px) {
    .dashboard-submission-form .subForm .inputCnt input[type="text"],
    .dashboard-submission-form .subForm .inputCnt  input[type="url"],
    .dashboard-submission-form .subForm .inputCnt .submissionInputTextarea {
        width: 76%;
        margin: 5%;
        padding: 1.5%;
        line-height: 3vw;
        font-size: 3vw;
    }
    .dashboard-submission-form .subForm .inputCnt input[type="text"]:hover,
    .dashboard-submission-form .subForm .inputCnt  input[type="url"]:hover,
    .dashboard-submission-form .subForm .inputCnt .submissionInputTextarea:hover {
        border: 1.5px solid #1071F3;
        margin: 5%;
        padding: 1.5%;
    }
}

.success,
.error {
  color: white;
  width: 60%;
  padding: 5px;
  margin-top: 3rem;
  margin: 2rem auto;
}

.success {
  background: green;
}

.error {
  background: #E5193B;
}