@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@font-face {
    font-family: Monad;
    src: url(../../fonts/Monad.otf);
}
html, body {
    width: 100%;
    margin: 0;
}
* {
    box-sizing: border-box;
}
button, input {
    outline: none;
    border: none;
}
button:hover, input:hover {
    outline: none;
    border: none;
}
.dashboard-submission-form .heading {
    width: 100%;
    margin: 0;
    background: #E5E5E5;
    padding: 5% 5% 3% 5%;
}
.dashboard-submission-form .heading .headForm {
    font-family: 'Nunito Sans', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;    
    color: #0080FB;    
}
.dashboard-submission-form .heading .headMain {
    margin: 0;
    width: 100%;
    text-align: center;
}
.dashboard-submission-form .heading .headMain .Hd {
    font-family: 'Monad', Georgia, Times, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 72px;
    color: #0080FB;
}
.dashboard-submission-form .heading .headMain .Hd .X {
    color: rgb(255,206,0);
}
.dashboard-submission-form .heading .headMain .cnt {
    font-family: 'Nunito Sans', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #000000;   
}
.dashboard-submission-form .heading .Ul .List {
    font-family: 'Nunito Sans', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px; 
    color: #000000;  
}
.dashboard-submission-form .subForm .inputCnt .title .vertrule {
    border: none;
    width: 4px;
    height: 100%;
    background: #1071F3;
}
.dashboard-submission-form .subForm .inputCnt .title .titleName {
    font-family: 'Nunito Sans', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 1000;
    font-size: 28px;
    line-height: 38px;
    color: rgba(0, 0, 0, 0.7);
}
.dashboard-submission-form .subForm .inputCnt .info {
    font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 1000;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.4);
}
.dashboard-submission-form .subForm .inputCnt .inputCount {
    font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 1000;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.4);
}
.dashboard-submission-form .subForm .inputCnt input {
    font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 1000;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.4);
}

.custom-file-input {
    color: transparent; 
} 
.custom-file-input::-webkit-file-upload-button { 
    visibility: hidden; 
} 
.custom-file-input::before { 
    content: 'Select some files'; 
    color: black; 
    display: inline-block; 
    background-image: url(../../assets/images/dashboard/add-image.svg);
    height: 80px;
    width: 80px; 
    border: 1px solid #999; 
    border-radius: 3px; 
    padding: 5px 8px; 
    outline: none; 
    white-space: nowrap; 
    -webkit-user-select: none; 
    cursor: pointer; 
    text-shadow: 1px 1px #fff; 
    font-weight: 700; 
    font-size: 10pt; 
} 
.custom-file-input:hover::before { 
    border-color: black; 
} 
.custom-file-input:active { 
    outline: 0; 
} 
/*.custom-file-input:active::before { 
    background-image: url(../../assets/images/dashboard/add-image.svg);
} body { 
    padding: 20px; 
}