@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
html, body {
    width: 100%;
    margin: 0;
}
* {
    box-sizing: border-box;
}
.dashboard-submitted-screen {
    width: 100%;
    margin: 0;
    background: #E5E5E5;
}
.dashboard-submitted-screen .headbar {
    font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;   
    color: #FFFFFF;
    background: #0080FB;
}
.helloBar {
    background: #FFFFFF;
    border-radius: 5px;
    width: 60%;
    
}
.HdCnt {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: #000000;
}
.txtCnt {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
}
.horLineCnt {
    border: 1px solid rgba(0, 0, 0, 0.3);
}