@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
@font-face {
    font-family: Monad;
    src: url(../../fonts/Monad.otf);
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
* {
    box-sizing: border-box;
}
body {
    background: #E5E5E5;
}

@media (max-width: 450px) {
    .Dashboard2-section .headbar {
        display: none;
    }
    .mobileView {
        display: block;
        width: 100%;
        margin: 0;
        background: #E5E5E5;
    }
    .desktopView {
        display: none;
    }
    .announcement, .prizes, .overview {
        display: block;
    }
    .Dashboard2-section .sectionbar {
        width: 90%; 
        margin: 5%;
    }
    .Dashboard2-section .sectionbar .blueHead {
        margin: 6% 7% 0 7%;
        color: #0080FB;
        font-family: 'Poppins', sans-serif;
        font-size: 4.6vw;
        line-height: 1.8;
        font-weight: bold;
    }
    .Dashboard2-section .sectionbar .mobViewHr {
        margin: 5% 7%;
        border: 1px solid lightgrey;
    }
    .Dashboard2-section .sectionbar .briefo {
        width: 60%;
        margin: 0; 
        padding-left: 8%;
        display: inline-block;
        text-align: left;
        font-family: Nuito Sans, sans-serif;
        font-size: 4vw;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.6);
        cursor: pointer;
    }
    .Dashboard2-section .sectionbar .briefo:hover {
        color: rgba(0, 0, 0, 0.9);
    }
    .Dashboard2-section .sectionbar .fullView {
        width: 40%;
        margin: 0;
        padding-right: 8%;
        display: inline-block;
        text-align: right;
        float: right;
    }
    .Dashboard2-section .sectionbar .fullView a {
        font-family: Nuito Sans, sans-serif;
        font-size: 4vw;
        color: black;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
    }
    .Dashboard2-section .sectionbar section {
        background: white;
        border-radius: 5px;
        margin-bottom: 7%;
        padding: 3% 0 8% 0;
        height: auto;
    }  
    .Dashboard2-section .sectionbar .timeline .active-head {
        width: 100%;
        margin: 0;
        background: white;
        line-height: 1.8;
        padding: 3% 8% 3% 8%;
        font-family: Nuito Sans, sans-serif;
    }
    .Dashboard2-section .sectionbar .timeline .active-head .first {
        font-size: 4.3vw;
        display: inline-block;
    }
    .Dashboard2-section .sectionbar .timeline .active-head .second {
        height: auto;
    }
    .Dashboard2-section .sectionbar .timeline .active-head .second .bold {
        font-weight: 700;
        font-size: 4.35vw;
        display: block;
    }
    .Dashboard2-section .sectionbar .timeline .active-head .spnBtn {
        margin: 0 3%;
        padding: 1.3% 1.8%;
        background: #0080FB;
        color: rgba(253, 254, 255, 0.7);
        font-size: 3.8vw;
        text-transform: uppercase;
        float: right;
        cursor: pointer;
        border-radius: 5px;
        font-weight: bold;
    }
    .Dashboard2-section .sectionbar .timeline .active-head .third {
        font-size: 4vw;
        margin-top: 1%;
        text-align: left;
    } 
    /* COMING HEAD */
    .Dashboard2-section .sectionbar .timeline .coming-head {
        width: 100%;
        margin: 4% 0;
        background: transparent;
        border-radius: 4px;
        line-height: 1.6;
        padding: 3% 8% 3% 8%;
        font-family: Nuito Sans, sans-serif;
    }
    .Dashboard2-section .sectionbar .timeline .coming-head .second {
        height: auto;
    }
    .Dashboard2-section .sectionbar .timeline .coming-head .second .bold {
        font-weight: 700;
        font-size: 4.35vw;
        display: block;
    }
    .Dashboard2-section .sectionbar .timeline .coming-head .spnBtn {
        margin: 0 3%;
        padding: 0.6% 3.8%;
        background: #C4C4C4;
        color: rgba(0, 0, 0, 0.6);
        font-size: 4.02vw;
        text-transform: uppercase;
        float: right;
        border-radius: 4px;
        cursor: pointer;
        font-weight: bold;
    }
    .Dashboard2-section .sectionbar .timeline .coming-head .first {
        font-size: 4.3vw;
        display: inline-block;
    }
    .Dashboard2-section .sectionbar .timeline .coming-head .third {
        font-size: 4vw;
        margin-top: 1%;
        text-align: left;
    }
    /* ANNOUNCEMENT SECTION */
    .Dashboard2-section .sectionbar .announcement .paranounce {
        margin: 0 8%;
        padding: 4% 0;
        font-family: Nuito Sans, sans-serif;
        font-size: 4.6vw;
        font-weight: bold;
        line-height: 1.8;
    }
    .Dashboard2-section .sectionbar .announcement .paranounce .elem1 {
        color: rgba(0, 0, 0, 0.6);
        font-size: 4.18vw;
        font-weight: bold;
    }
    .Dashboard2-section .sectionbar .announcement .paranounce a {
        color: #2864F0;
        text-decoration: none;
    }
    .Dashboard2-section .sectionbar .prizes .prH {
        font-family: Nuito Sans, sans-serif;
        font-size: 4.3vw;
        font-weight: bold;
    }
    .Dashboard2-section .sectionbar .prizes .prHd {
        background: white;
        padding: 0 8%;
        border-radius: 4px;
        font-family: Nuito Sans, sans-serif;
        font-size: 4.3vw;
        line-height: 1.8;
        font-weight: normal;
    }
    .Dashboard2-section .sectionbar .prizes .pH {
        font-weight: bold;
    }
    .Dashboard2-section .sectionbar .overview .image {
        width: 90%;
        height: auto;
        margin: 0 5%;
        background: url(../../assets/images/dashboard/overview-bg.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 10% 6%;
        text-align: center;
        font-size: 11vw;
        font-family: Monad, sans-serif;
        color: white;
        margin-bottom: 7%;
    }
    .Dashboard2-section .sectionbar .overview .image .X {
        color: rgb(242,167,2);
    }
    .Dashboard2-section .sectionbar .overview .image .hackathon {
        color: #2864F0;
    }
    .Dashboard2-section .sectionbar .overview .social {
        background: white;
        width: 100%;
        margin-bottom: 3%;
        height: 75px;
        border-radius: 5px;
        font-family: Nuito Sans, sans-serif;
        font-size: 1.6vw;
        line-height: 28px;
        padding: 4% 5%;
        cursor: pointer;
    }
    .Dashboard2-section .sectionbar .overview .social .img {
        float: left;
        cursor: pointer;
        margin-right: 4%;
        transform: scale(.6);
    }
    .Dashboard2-section .sectionbar .overview .social .go {
        float: right;
        transform: scale(.6);
        cursor: pointer;
    }
}
@media (min-width: 769px) {
    .Dashboard2-section .headbar {
        display: block;
        width: 100%;
        margin: 4% 0 5% 0;
        height: 68px;
        background: white;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        border-radius: 4px;
    }
    .desktopView {
        display: block;
        width: 47%;
        margin-left: 5%;
        background: #E5E5E5;
    }
    .mobileView {
        display: none;
    }
    .Dashboard2-section .headbar .header-btn {
        width: auto;
        height: 68px;
        display: flex;
        flex-direction: column;
    }
    .Dashboard2-section .headbar .header-btn button {
        width: 100%;
        height: 64px;
        font-size: 1.33vw;
        line-height: 64px; 
        margin: 0;
        outline: none;
        border: none;
        cursor: pointer;
        font-family: Montserrat, sans-serif;
        font-weight: bold;
        color: rgba(156, 99, 99, 0.4);
    }
    .Dashboard2-section .headbar .header-btn button:hover {
        outline: none;
        border: none;
        color: #1071F3;
    }
    .Dashboard2-section .headbar .header-btn .border-bottom {
        width: 100%;
        background: #1071F3;
        border: none;
        height: 4px;
        display: none;
        border-radius: 5px;
    }
    .Dashboard2-section .headbar .active button {
        color: #1071F3;
    }
    .Dashboard2-section .headbar .active .border-bottom {
        display: block;
    }
    button {
        margin-bottom: 5%;
        border: none;
        background: white;
    }
    .announcement, .prizes, .overview {
        display: none;
    }
    .Dashboard2-section .sectionbar {
        width: 100%; 
        margin: 5% 0 0 0;
    }
    .Dashboard2-section .sectionbar .timeline .active-head {
        width: 100%;
        margin: 0;
        background: white;
        border-radius: 4px;
        line-height: 1.6;
        padding: 3% 5% 7% 5%;
        font-family: Nuito Sans, sans-serif;
    }
    .Dashboard2-section .sectionbar .timeline .active-head .second {
        height: auto;
    }
    .Dashboard2-section .sectionbar .timeline .active-head .second .bold {
        font-weight: 700;
        font-size: 1.15vw;
    }
    .Dashboard2-section .sectionbar .timeline .active-head .second .spnBtn {
        margin: 0 3%;
        padding: 0.6% 2.2%;
        background: #0080FB;
        color: rgba(253, 254, 255, 0.7);
        font-size: 1.02vw;
        text-transform: uppercase;
        cursor: pointer;
        border-radius: 4px;
        font-weight: bold;
    }
    .Dashboard2-section .sectionbar .timeline .active-head .first {
        font-size: 1.1vw;
    }
    .Dashboard2-section .sectionbar .timeline .active-head .third {
        font-size: .9vw;
        margin-top: 1%;
    }
    
    /* COMING HEAD */
    .Dashboard2-section .sectionbar .timeline .coming-head {
        width: 100%;
        margin: 0;
        background: transparent;
        border-radius: 4px;
        line-height: 1.6;
        padding: 3% 5% 7% 5%;
        font-family: Nuito Sans, sans-serif;
    }
    .Dashboard2-section .sectionbar .timeline .coming-head .second {
        height: auto;
    }
    .Dashboard2-section .sectionbar .timeline .coming-head .second .bold {
        font-weight: 700;
        font-size: 1.15vw;
    }
    .Dashboard2-section .sectionbar .timeline .coming-head .second .spnBtn {
        margin: 0 3%;
        padding: 0.6% 3.8%;
        background: #C4C4C4;
        color: rgba(0, 0, 0, 0.6);
        font-size: 1.02vw;
        text-transform: uppercase;
        border-radius: 4px;
        cursor: pointer;
        font-weight: bold;
    }
    .Dashboard2-section .sectionbar .timeline .coming-head .first {
        font-size: 1.1vw;
    }
    .Dashboard2-section .sectionbar .timeline .coming-head .third {
        font-size: .9vw;
        margin-top: 1%;
        margin-bottom: 3.5%;
    }
    .Dashboard2-section .sectionbar .announcement {
        width: 100%;
        margin: 0;
        padding: 5%;
        border-radius: 4px;
        background: white;
        font-family: Nuito Sans, sans-serif;
        font-size: 1vw;
        line-height: 1.6;
        font-weight: bold;
    }
    .Dashboard2-section .sectionbar .announcement .elem1 {
        color: rgba(0, 0, 0, 0.6);
        font-size: 1.18vw;
        font-weight: bold;
    }
    .Dashboard2-section .sectionbar .announcement a {
        color: #2864F0;
        text-decoration: none;
    }
    .Dashboard2-section .sectionbar .prizes {
        width: 100%;
        margin: 0;
    }
    .prH {
        font-family: Nuito Sans, sans-serif;
        font-size: 1.3vw;
        font-weight: bold;
    }
    .prHd {
        background: white;
        width: 100%;
        margin: 0;
        padding: 4% 8% 24% 8%;
        border-radius: 4px;
        font-family: Nuito Sans, sans-serif;
        font-size: 1.3vw;
        line-height: 1.6;
        font-weight: normal;
    }
    .Dashboard2-section .sectionbar .prizes .pH {
        font-weight: bold;
    }
    .Dashboard2-section .sectionbar .overview .image {
        width: 100%;
        height: auto;
        margin: 0;
        background: url(../../assets/images/dashboard/overview-bg.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 10% 8%;
        text-align: center;
        font-size: 4.8vw;
        font-family: Monad, sans-serif;
        color: white;
        margin-bottom: 7%;
    }
    .Dashboard2-section .sectionbar .overview .image .X {
        color: rgb(242,167,2);
    }
    .Dashboard2-section .sectionbar .overview .image .hackathon {
        color: #2864F0;
    }
    .Dashboard2-section .sectionbar .overview .social {
        background: white;
        width: 100%;
        margin-bottom: 3%;
        height: 75px;
        border-radius: 5px;
        font-family: Nuito Sans, sans-serif;
        font-size: 1.6vw;
        line-height: 28px;
        padding: 4% 5%;
        cursor: pointer;
    }
    .Dashboard2-section .sectionbar .overview .social .img {
        float: left;
        cursor: pointer;
        margin-right: 4%;
    }
    .Dashboard2-section .sectionbar .overview .social .go {
        float: right;
        cursor: pointer;
    }
}