.one30 {
	padding: 10px;
}

.one30,
.first30,
.second30,
.third30,
.fourth30,
.three30,
.train1 {
	text-align: center;
}

.one30,
.thirty,
.hours,
.of,
.train0,
.mentor30,
.meet30,
.name {
	font-weight: bold;
	margin: auto;
}

.thirty {
	font-size: 50px;
	color: #E5193B;
}

.hours,
.of {
	font-size: 25px;
}

.first30,
.second30,
.third30,
.fourth30 {
	margin-top: 1pc;
	padding: 15px;
	width: 50%;
	margin: 1pc auto 3pc auto;
}

.tracks30 {
	font-size: 23px;
	margin-bottom: .8pc;
}

.thirty-body {
	padding: 0;
	margin: 0;
	font-family: "poppins";
	background-color: #f4f4f4;
}

.part30,
.partner_part2 {
	padding: 10px;
	margin: 1pc auto auto auto;
}

.partner_part2 {
	width: 60%;
	margin-bottom: 3.5pc;
}

.mentor30 {
	font-size: 30px;
	color: #E5193B;
}

.img2 {
	width: 100%;
	margin: auto;
}

.img02 {
	width: 100%;
}

.train1 {
	width: 90%;
	margin: auto;
}

.name {
	font-size: 16px;
	margin: auto auto 1.5pc auto;
}

.partners_img {
	width: 50%;
}




@media (min-width:768px) {
	.train0 {
		width: 40%;
	}

	.two30 {
		width: 75%;
		display: flex;
		justify-content: space-evenly;
		align-self: center;
		margin: auto;
	}

	.thirty-body {
		padding: 0;
		margin: 0;
		font-family: "poppins";
		background-color: #ffffff;
	}

	.first30,
	.second30,
	.third30,
	.fourth30 {
		width: 17%;
		padding: 18px;
	}

	.partner_part2 {
		display: flex;
		align-self: center;
		width: 40%;
		margin-bottom: .5pc;
	}

	.img02 {
		width: 100%;
	}

	.train1 {
		align-self: center;
		padding-left: 10px;
		margin-top: -1px;
	}

	.four30 {
		width: 70%;
		display: flex;
		flex-wrap: wrap;
		margin: -1.7pc auto auto auto;
	}

	.name {
		margin-bottom: .5pc;
	}
}
