@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@font-face {
    font-family: Monad;
    src: url(../../fonts/Monad.otf);
  }
html, body {
    width: 100%;
    margin: 0;
}
* {
    box-sizing: border-box;
}
body {
    background: whitesmoke;
}
.dashboard-info {
    width: 30%;
    height: auto;
    padding: 5%;
    float: right;
    text-align: left;
    background: white;
    font-family: Poppins, sans-serif;
    font-size: 1.4vw;
}
.dashboard-info .hack {
    font-size: 3vw;
    font-family: Monad, sans-serif;
    color: rgb(16,113,243);
}
.dashboard-info .X {
    font-size: 3vw;
    color: rgb(255,212,32);
    font-family: Monad, sans-serif;
}
.dashboard-info .bold {
    font-weight: 600;
    font-size: 1.5vw;
}