body{
		margin:0;
		padding:0;
		}
.first{
		margin:0pc auto .3pc auto;
		widt:100%;
		display:flex;
		justify-content:space-between;
		}
nav{
		font-family:"poppins", sans-serif;
		color:#262A35;
		}
.sep{
		width:60%;
		display:flex;
		justify-content:flex-end;
		}
.ecx{
		padding:10px;
		text-align:center;
		align-self: center;
		margin-bottom:-.3pc;
		}
.reg1{
		padding:7px;
		text-align:center;
		font-size:20px;
		align-self:center;
		background-color:#e5193b;
		color:white;
		transition:opacity .7s ease-out;
		border-radius:3px;
		}
.ham{
		font-size:30px;
		width:10%;
		padding:10px;
		text-align:center;
		align-self:center;
		}
.second{
		width:0px;
		height:0px;
		transition:height 1s ease;
		overflow:hidden;
		}
.about{
		text-align:center;
		padding:10px;
		}
.ment{
		text-align:center;
		padding:10px;
		}
.sch{
		text-align:center;
		padding:10px;
		}
.reg2{
		text-align:center;
		padding:10px;
		}
.log{
		text-align:center;
		padding:10px;
		}
.reg2{
		background-color:#E5193B;
		color:white;
		padding:10px;
		width:30%;
		margin:.3pc auto;
		border-radius:3px;
		}	
.about, .ment, .sch, .reg2, .log{
		font-weight:bold;
		margin:.3pc auto;
		}
.log{
		border:2px solid #E5193B;
		padding:10px;
		width:30%;
		border-radius:3px;
		}	
a:link{
		color:black;
		text-decoration:none;
		}
.reg4:link,.reg3:link{
		color:#FFFFFF;
		}		
a:hover{
		font-weight:bolder;
		}		
.reg3,.reg4{
		color:#FFFFFF;
		}		
.log2{
		color:#FA0048;
		}



@media(min-width:768px){
nav{
		margin:.5pc auto;
		display:flex;
		justify-content:center;
		width:95%;
		}
.second{
		width:70%;
		height:auto;
		display:flex;
		justify-content:space-evenly;
		}		
.sep{
		display:none;
		}		
.about, .ment, .sch, .reg2, .log{
		align-self:center;
		}	
.ecx{
		margin:.5pc auto auto -7.5pc;
		align-self:center;
		}	
.reg2, .log{
		width:auto;
		margin:auto;
		padding:4px 25px;
		}
.log{
		padding:2px 28px;
		}		
	}

