@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
div {
    background: rgba(0, 128, 251, 0.3);
}
button {
    background: #1071F3;
    color: white;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}