@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

@font-face {
  font-family: Monad;
  src: url(../../fonts/Monad.otf);
}

@font-face {
  font-family: Gilroy-Bold;
  src: url(../../fonts/Gilroy-Regular.woff);
}
