
//For Desktop responsiveness view
$desktop:1201px;
//For Tablet responsiveness view
$tablet:840px;
//For Mobile responsiveness view
$mobile:839px;

// Colors
$color-primary: #E5193B;
$color-secondary: #1071F3;
$color-tertiary:#F2A702;
$color-gray:#232732;
$color-white: #E5E5E5;
$color-dark:#262A35;

// Form Validation
$color-error:#F0002B;
$color-success:#10F65E;

//fonts
$default-font-family:'Poppins',
sans-serif;
$default-font-family-hero: 'Monad',
serif;
$default-font-family-info: 'Gilroy-Bold',
serif;

