//For Desktop responsiveness view
$desktop: 1201px;
//For Tablet responsiveness view
$tablet: 840px;
//For Mobile responsiveness view
$mobile: 839px;

// Colors
$color-primary: #e5193b;
$color-secondary: #1071f3;
$color-tertiary: #f2a702;
$color-gray: #232732;
$color-white: #e5e5e5;
$color-dark: #262a35;
$color-gray-dark: #a5a5a5;
$color-gray-light: #cccccc;
// Form Validation
$color-error: #f0002b;
$color-success: #10f65e;

//fonts
$default-font-family: "Poppins", sans-serif;
$default-font-family-hero: "Monad", serif;
$default-font-family-info: "Gilroy-Bold", serif;
