//For Desktop responsiveness view
$desktop: 1201px;
//For Tablet responsiveness view
$tablet: 840px;
//For Mobile responsiveness view
$mobile: 839px;

// Colors
$color-primary: #e5193b;
$color-secondary: #1071f3;
$color-tertiary: #f2a702;
$color-gray: #232732;
$color-white: #e5e5e5;
$color-dark: #262a35;
$color-gray-dark: #a5a5a5;
$color-gray-light: #cccccc;
// Form Validation
$color-error: #f0002b;
$color-success: #10f65e;

//fonts
$default-font-family: "Poppins", sans-serif;
$default-font-family-hero: "Monad", serif;
$default-font-family-info: "Gilroy-Bold", serif;


// styling for success and error message starts
.alert{
	  font-family:Poppins;
	  font-size:13px;
	  width:max-content;
	  background-color:green;	  
	  border-radius:12px;
	  color:#f0f0f0;
	  width:250px;
	  position:relative;
		}
.alert > div:after{
		position: absolute;
		top:5px;
		right:3px;
		content:"X";
		color:red;
		background-color:#f0f0f0;
		border-radius:50%;
		padding:2px 8px;
		}
.success{		
	  border-radius:12px;
	  padding:7px;
	  color:white;
	  background-color:green;
		}
.error{
	  border-radius:12px;		
	  padding:7px;
	  color:white;
	  background-color:red;
		}
//styling for success and error message ends